@import "tailwindcss";
@plugin 'tailwind-scrollbar';
@plugin "@tailwindcss/typography";

.prose {
    max-width: 100%;
}

@theme {
    /* --color-dark: #000; */
    --color-dark: var(--color-gray-900);
    --color-light: #fff;
}

@variant dark (&:where(.dark, .dark *));

@view-transition {
    navigation: auto;
}

.animate-error-message {
    animation: error-message 2s var(--ease-spring-3);
}

@keyframes error-message {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-modal {
    animation: modal 0.6s var(--ease-elastic-out-5);
}

@keyframes modal {
    from {
        opacity: 0;
        scale: 0.9;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

.animate-image {
    animation: image 0.6s var(--ease-elastic-in-3);
}

@keyframes image {
    from {
        opacity: 0;
        transform: scaleY(0);
    }

    to {
        opacity: 1;
        transform: scaleY(1);
    }
}

.animate-border {
    animation: border-width 3s var(--ease-in-3) infinite;
}

@keyframes border-width {
    0% {
        border-top-style: var(--tw-border-style);
        border-top-width: 0;
        border-right-style: var(--tw-border-style);
        border-right-width: 0;
        border-bottom-style: var(--tw-border-style);
        border-bottom-width: 0;
        border-left-style: var(--tw-border-style);
        border-left-width: 0;
    }

    25% {
        border-top-style: var(--tw-border-style);
        border-top-width: 1px;
        border-right-style: var(--tw-border-style);
        border-right-width: 0;
        border-bottom-style: var(--tw-border-style);
        border-bottom-width: 0;
        border-left-style: var(--tw-border-style);
        border-left-width: 0;
    }

    50% {
        border-top-style: var(--tw-border-style);
        border-top-width: 1px;
        border-right-style: var(--tw-border-style);
        border-right-width: 1px;
        border-bottom-style: var(--tw-border-style);
        border-bottom-width: 0;
        border-left-style: var(--tw-border-style);
        border-left-width: 0;
    }

    75% {
        border-top-style: var(--tw-border-style);
        border-top-width: 1px;
        border-right-style: var(--tw-border-style);
        border-right-width: 1px;
        border-bottom-style: var(--tw-border-style);
        border-bottom-width: 1px;
        border-left-style: var(--tw-border-style);
        border-left-width: 0;
    }

    100% {
        border-top-style: var(--tw-border-style);
        border-top-width: 1px;
        border-right-style: var(--tw-border-style);
        border-right-width: 1px;
        border-bottom-style: var(--tw-border-style);
        border-bottom-width: 1px;
        border-left-style: var(--tw-border-style);
        border-left-width: 1px;
    }
}

.animate-page-loader {
    animation: page-loader 2s var(--ease-out-3) infinite;
}

@keyframes page-loader {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}