@import "tailwindcss";
@plugin 'tailwind-scrollbar';

@theme {
    --color-dark: #0d1117;
}

@view-transition {
    navigation: auto;
}

.animate-border-width-pulse {
    animation: border-width-pulse 3s var(--ease-in-3) infinite;
}

@keyframes border-width-pulse {
    0% {
        border-top-style: var(--tw-border-style);
        border-top-width: 0;
        border-right-style: var(--tw-border-style);
        border-right-width: 0;
        border-bottom-style: var(--tw-border-style);
        border-bottom-width: 0;
        border-left-style: var(--tw-border-style);
        border-left-width: 0;
    }

    25% {
        border-top-style: var(--tw-border-style);
        border-top-width: 1px;
        border-right-style: var(--tw-border-style);
        border-right-width: 0;
        border-bottom-style: var(--tw-border-style);
        border-bottom-width: 0;
        border-left-style: var(--tw-border-style);
        border-left-width: 0;
    }

    50% {
        border-top-style: var(--tw-border-style);
        border-top-width: 1px;
        border-right-style: var(--tw-border-style);
        border-right-width: 1px;
        border-bottom-style: var(--tw-border-style);
        border-bottom-width: 0;
        border-left-style: var(--tw-border-style);
        border-left-width: 0;
    }

    75% {
        border-top-style: var(--tw-border-style);
        border-top-width: 1px;
        border-right-style: var(--tw-border-style);
        border-right-width: 1px;
        border-bottom-style: var(--tw-border-style);
        border-bottom-width: 1px;
        border-left-style: var(--tw-border-style);
        border-left-width: 0;
    }

    100% {
        border-top-style: var(--tw-border-style);
        border-top-width: 1px;
        border-right-style: var(--tw-border-style);
        border-right-width: 1px;
        border-bottom-style: var(--tw-border-style);
        border-bottom-width: 1px;
        border-left-style: var(--tw-border-style);
        border-left-width: 1px;
    }
}