package components

import (
	"datastar-openrouter/models"
	"strconv"
)

templ Main(messages []models.ChatConversation, sessions []models.ChatSession, aiModels []models.AIModel, currSessionId int) {
	@layout() {
		<main
			class="w-full mx-auto h-full overflow-y-auto scroll-smooth scrollbar-thin scrollbar-thumb-dark scrollbar-track-dark/50 dark:scrollbar-thumb-white dark:scrollbar-track-white/50 md:overflow-x-hidden"
			style="display:none;"
			data-show="true"
			data-signals={ `{sessionId:` + strconv.Itoa(currSessionId) + `,_showMenu:false,
                            showErrorMessage:false,errorMessage:'Error.Please try again later',
                            showDeleteModal:false,sessionIdToDelete:0,webSearch:false}` }
		>
			@menu(sessions)
			@deleteModal()
			<header class="text-3xl text-center font-semibold py-2 px-4">Nexus AI</header>
			@Section(messages)
			@inputsAndError(aiModels)
		</main>
	}
}

templ Section(messages []models.ChatConversation) {
	<section class="w-11/12 pb-64 mx-auto flex flex-col gap-5 lg:gap-3 lg:pt-4 xl:w-10/12">
		for _,message := range messages {
			@ChatMessage(message)
		}
		if len(messages)==0 {
			<div class="w-full h-[50vh] flex items-center justify-center" id="hint">
				<p class="text-lg">
					Unified chat with the world's smartest models.
				</p>
			</div>
		}
	</section>
}

templ menu(sessions []models.ChatSession) {
	<div
		class="absolute top-0 left-0 w-full h-full bg-white/50 dark:bg-dark/50 z-10"
		data-show="$_showMenu"
		data-signals="{_menuFocusAbortController:new AbortController()}"
		data-on:click__viewtransition="$_showMenu=false"
	>
		<div
			class="flex gap-2 items-start h-full w-11/12 md:w-9/12 lg:w-5/12 xl:w-4/12"
			id="menuContainer"
			data-effect="$showDeleteModal?$_menuFocusAbortController.abort():$_showMenu?setTimeout(()=>$_menuFocusAbortController=focusTrap('#menuContainer')):$_menuFocusAbortController.abort()"
		>
			<div
				class="flex flex-col items-center flex-1 border-r border-gray-600 dark:border-gray-300 h-full overflow-y-auto bg-white dark:bg-dark scroll-smooth scrollbar-thin scrollbar-thumb-dark scrollbar-track-dark/50 dark:scrollbar-thumb-white dark:scrollbar-track-white/50"
				data-on:click="evt.stopPropagation()"
			>
				<button
					class="appearance-none outline-none transition duration-300 mt-10 py-2 px-4 rounded cursor-pointer font-semibold w-10/12 bg-dark dark:bg-white text-white dark:text-dark focus:ring-2 focus:ring-dark dark:focus:ring-white focus:ring-offset-2 focus:ring-offset-white dark:focus:ring-offset-dark  disabled:cursor-not-allowed disabled:opacity-80"
					data-class="{'animate-pulse':$_creatingNewSession}"
					data-on:click__viewtransition="@post('/new',{openWhenHidden:true});"
					data-indicator="_creatingNewSession"
					data-attr:disabled="$_creatingNewSession"
				>
					New Chat
				</button>
				<ul class="flex flex-col mt-5 w-full" id="menu">
					for _,session := range sessions {
						@MenuItem(session)
					}
				</ul>
			</div>
			<button
				class="appearance-none outline-none cursor-pointer mt-2 transition duration-300 rounded p-1 hover:opacity-90 bg-dark dark:bg-white text-white dark:text-dark focus:ring-2 focus:ring-dark dark:focus:ring-white focus:ring-offset-2 focus:ring-offset-white dark:focus:ring-offset-dark disabled:cursor-not-allowed disabled:opacity-80"
				style="view-transition-name:menu-button"
				aria-label="Close Menu"
			>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 24 24"
					fill="currentColor"
					class="size-6"
					style="view-transition-name:menu-button-icon"
				>
					<path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd"></path>
				</svg>
			</button>
		</div>
	</div>
	<button
		class="appearance-none outline-none cursor-pointer absolute top-3 left-2 transition duration-300 rounded p-1 hover:opacity-90 bg-dark dark:bg-white text-white dark:text-dark focus:ring-2 focus:ring-dark dark:focus:ring-white focus:ring-offset-2 focus:ring-offset-white dark:focus:ring-offset-dark disabled:cursor-not-allowed disabled:opacity-80"
		data-on:click__viewtransition="$_showMenu=true"
		style="view-transition-name:menu-button"
		data-show="!$_showMenu"
		aria-label="Open Menu"
	>
		<svg
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 24 24"
			fill="currentColor"
			class="size-6"
			style="view-transition-name:menu-button-icon"
		>
			<path fill-rule="evenodd" d="M3 6.75A.75.75 0 0 1 3.75 6h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 6.75ZM3 12a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 12Zm0 5.25a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd"></path>
		</svg>
	</button>
}

templ MenuItem(session models.ChatSession) {
	<li
		class="w-full flex gap-1 items-center pr-1 hover:bg-gray-200 dark:hover:bg-gray-700 focus-within:bg-gray-200 dark:focus-within:bg-gray-700"
		data-class={ "{'underline underline-offset-6':$sessionId==" + strconv.Itoa(session.Id) + "}" }
		id={ "menuItem_" + strconv.Itoa(session.Id) }
		style={ "view-transition-name:menu-item-" + strconv.Itoa(session.Id) }
	>
		<a href={ "/" + strconv.Itoa(session.Id) } class="appearance-none outline-none truncate flex-1 py-2 px-4 transition duration-300 cursor-pointer">
			{ session.Title }
		</a>
		<button
			class="appearance-none outline-none cursor-pointer transition duration-300 rounded-full p-1 font-semibold text-red-600 dark:text-red-300 focus:ring-2 focus:ring-red-600 dark:focus:ring-red-300 hover:opacity-90"
			data-on:click__viewtransition={ `
                evt.stopPropagation();
                $sessionIdToDelete=` + strconv.Itoa(session.Id) + `;                
                $showDeleteModal=true;
            ` }
			aria-label="Delete Chat Session"
		>
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
				<path fill-rule="evenodd" d="M8.75 1A2.75 2.75 0 0 0 6 3.75v.443c-.795.077-1.584.176-2.365.298a.75.75 0 1 0 .23 1.482l.149-.022.841 10.518A2.75 2.75 0 0 0 7.596 19h4.807a2.75 2.75 0 0 0 2.742-2.53l.841-10.52.149.023a.75.75 0 0 0 .23-1.482A41.03 41.03 0 0 0 14 4.193V3.75A2.75 2.75 0 0 0 11.25 1h-2.5ZM10 4c.84 0 1.673.025 2.5.075V3.75c0-.69-.56-1.25-1.25-1.25h-2.5c-.69 0-1.25.56-1.25 1.25v.325C8.327 4.025 9.16 4 10 4ZM8.58 7.72a.75.75 0 0 0-1.5.06l.3 7.5a.75.75 0 1 0 1.5-.06l-.3-7.5Zm4.34.06a.75.75 0 1 0-1.5-.06l-.3 7.5a.75.75 0 1 0 1.5.06l.3-7.5Z" clip-rule="evenodd"></path>
			</svg>
		</button>
	</li>
}
