package components

import "datastar-openrouter/models"

templ Main(messages []models.ChatConversation) {
	@layout() {
		<main
			class="w-11/12 mx-auto pb-32 h-[66vh] overflow-x-hidden overflow-y-auto flex flex-col gap-5 scroll-smooth scrollbar-thin scrollbar-thumb-dark scrollbar-track-dark/50 dark:scrollbar-thumb-white dark:scrollbar-track-white/50 md:h-[50vh] lg:gap-3 lg:h-[82vh] xl:w-10/12 "
			style="display:none;"
			data-show="true"
		>
			for _,message := range messages {
				@ChatMessage(message)
			}
			if len(messages)==0 {
				<div class="w-full h-full flex items-center justify-center" id="hint">
					<p class="text-lg">
						Unified chat with the world's smartest models.
					</p>
				</div>
			}
			@chatInput()
		</main>
	}
}
