
package components

templ deleteModal() {
	<div
		class="absolute top-0 left-0 w-full h-full bg-white/50 dark:bg-dark/50 z-10 flex items-center justify-center"
		data-show="$showDeleteModal"
		data-signals="{_deleteModalFocusAbortController:new AbortController()}"
	>
		<dialog
			open
			class="w-11/12 mx-auto animate-modal bg-dark dark:bg-white py-4 px-6 rounded flex flex-col md:w-7/12 lg:w-5/12 xl:w-4/12"
			id="deleteModal"
			style="view-transition-name:delete-dialog"
			data-effect="$showDeleteModal?$_deleteModalFocusAbortController=focusTrap('dialog[open]'):$_deleteModalFocusAbortController.abort()"
		>
			<h1 class="text-lg font-semibold text-red-300 dark:text-red-600">Delete Chat Session</h1>
			<p class="my-4 text-white dark:text-dark">
				Are you sure you want to delete this chat session? This action cannot be undone.
			</p>
			<div class="mt-8 mb-4 flex items-center justify-end gap-2">
				<button
					class="appearance-none outline-none cursor-pointer py-2 px-4 rounded transition duration-300 bg-white dark:bg-dark text-dark dark:text-white hover:opacity-90 focus:ring-2 focus:ring-offset-2 focus:ring-white dark:focus:ring-dark focus:ring-offset-dark dark:focus:ring-offset-white  disabled:cursor-not-allowed disabled:opacity-80"
					data-on:click__viewtransition="@post('/session/delete')"
					data-indicator="_deletingSession"
					data-attr:disabled="$_deletingSession"
				>Delete</button>
				<button
					class="appearance-none outline-none cursor-pointer py-2 px-4 rounded transition duration-300 bg-gray-700 dark:bg-gray-100 hover:opacity-90 focus:ring-2 focus:ring-offset-2 focus:ring-white dark:focus:ring-dark focus:ring-offset-dark dark:focus:ring-offset-white"
					data-on:click__viewtransition="if($_deletingSession) return;$sessionIdToDelete=0; $showDeleteModal=false;"
				>Cancel</button>
			</div>
		</dialog>
	</div>
}
