package components

import (
	"datastar-openrouter/models"
	"strconv"
)

templ Main(model models.UIMainModel) {
	@layout() {
		<main
			class="w-full mx-auto h-full overflow-y-auto scroll-smooth scrollbar-thin scrollbar-thumb-dark scrollbar-track-gray-300 md:overflow-x-hidden"
			style="display:none;"
			data-show="true"
			data-signals={ `{sessionId:` + strconv.Itoa(model.CurrentSessionId) + `,_showMenu:false,
                            showErrorMessage:false,errorMessage:'Error.Please try again later',
                            searchMenu:'`+model.MenuSearchTerm+`',
                            showDeleteModal:false,sessionIdToDelete:0,
                            webSearch:`+strconv.FormatBool(model.AllowWebSearch)+`,
                            imageGeneration:`+strconv.FormatBool(model.ImageGeneration)+`,
							fileUploading:false}` }
			data-init="@post('/conversations',{openWhenHidden:true});"
		>
			@menu(model.Sessions, model.MenuSearchTerm)
			@deleteModal()
			<header class="text-3xl text-center font-semibold py-2 px-4">Nexus AI</header>
			@Section(model.Messages)
			@inputsAndError(model.AIModels)
		</main>
	}
}

templ Section(messages []models.ChatConversation) {
	<section class="w-10/12 pb-64 mx-auto flex flex-col gap-5 lg:gap-3 lg:pt-4">
		for _,message := range messages {
			@ChatMessage(message, false)
		}
		if len(messages)==0 {
			<div
				class="w-full h-[50vh] flex items-center justify-center"
				id="hint"
				data-signals="{_retrying:false}"
			>
				<p class="text-lg">
					Unified chat with the world's smartest models.
				</p>
			</div>
		}
	</section>
}
