package components

import "time"

var AllowedFrequencies = []string{"Only once", "Daily", "Weekly", "Every two weeks", "Monthly", "Every two months", "Quarterly", "Half yearly", "Yearly"}

templ AddEventModal(date time.Time, week int) {
	<div
		class="absolute top-0 left-0 bg-black/30 w-full h-full flex justify-center items-center"
		id="addTask"
		data-signals="{_addModalAbortController:null}"
		data-init="$_addModalAbortController = focusTrap('#addTask')"
	>
		<dialog
			class="relative animate-slide-down w-11/12 mx-auto py-2 px-4 pb-4 rounded-lg bg-white flex flex-col gap-4 md:w-9/12 lg:w-6/12 xl:w-5/12"
			open
			style="view-transition-name:modal"
		>
			<div class="flex justify-between items-center">
				<h2 class="text-2xl text-slate-700 font-semibold">Add New Task</h2>
				<button
					type="button"
					class="appearance-none outline-none cursor-pointer rounded-full p-1 bg-slate-100 text-slate-600 focus:ring-1 focus:ring-slate-600 transition duration-300 disabled:cursor-not-allowed disabled:opacity-80"
					aria-label="close"
					data-on:click="evt.stopPropagation();$_addModalAbortController.abort();@get('/add/close');"
					data-indicator="_closingAddModal"
					data-attr-disabled="$_closingAddModal"
				>
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5 cursor-pointer">
						<path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd"></path>
					</svg>
				</button>
			</div>
			<p
				class="py-1 px-3 w-full"
				style="view-transition-name:event-result"
				id="eventResult"
			></p>
			<form
				id="addEventForm"
				method="POST"
				action="/add"
				class="w-full flex flex-col gap-3"
				data-on:submit={ `
					evt.preventDefault();
					if($_addingTask) return;					
  					@post('/add') ` }
				data-indicator="_addingTask"
			>
				<fieldset class="flex flex-col gap-1">
					<input
						type="text"
						id="task"
						class="appearance-none outline-none  py-2 px-4 rounded border-2 border-gray-400 transition duration-300
								flex gap-2 items-center bg-white focus:inset-shadow-sm
								focus:inset-shadow-gray-400 placeholder:text-gray-400"
						name="task"
						required
						minlength="3"
						placeholder="What needs to be done?"
						data-bind="task"
					/>
				</fieldset>
				<fieldset class="flex flex-col gap-1">
					<label for="date" class="text-slate-600 text-lg">Date:</label>
					<input
						type="date"
						id="date"
						class="appearance-none outline-none py-2 px-4 rounded border-2 border-gray-400 transition duration-300
								flex gap-2 items-center bg-white focus:inset-shadow-sm
								focus:inset-shadow-gray-400 placeholder:text-gray-400"
						name="date"
						readonly
						required
						value={ date.Format("2006-01-02") }
						data-bind="date"
					/>
				</fieldset>
				<fieldset class="flex flex-col gap-1 w-full ">
					<label for="frequency" class="text-slate-600 text-lg">Frequency:</label>
					<div class="relative w-full">
						<select
							id="frequency"
							class="appearance-none outline-none py-2 px-4 rounded border-2 border-gray-400 transition duration-300
								flex gap-2 items-center bg-white focus:inset-shadow-sm
								focus:inset-shadow-gray-400  w-full"
							name="frequency"
							data-bind="frequency"
						>
							for _,item:= range AllowedFrequencies {
								<option value={ item }>{ item }</option>
							}
						</select>
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5 absolute top-3 right-3 hover:-z-10">
							<path fill-rule="evenodd" d="M12.53 16.28a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 0 1 1.06-1.06L12 14.69l6.97-6.97a.75.75 0 1 1 1.06 1.06l-7.5 7.5Z" clip-rule="evenodd"></path>
						</svg>
					</div>
				</fieldset>
				<fieldset
					data-show="$frequency!='Only once' && $frequency!='Daily'"
					class="flex items-center gap-1 w-full "
				>
					<input
						type="checkbox"
						id="exact"
						name="exact"
						value="yes"
						class="w-5 h-5 border-gray-300 rounded"
					/>
					<label for="exact" class="text-slate-600 text-lg">
						<span>Use Exact Date:</span>
					</label>
				</fieldset>
				<fieldset
					data-show="$frequency!='Only once'"
					class="flex flex-col gap-1 w-full "
				>
					<label for="stopAfter" class="text-slate-600 text-lg">Stop After:</label>
					<input
						type="text"
						name="stopAfter"
						id="stopAfter"
						class="appearance-none outline-none py-2 px-4 rounded border-2 border-gray-400
								 transition duration-300 flex gap-2 items-center bg-white w-full
								 focus:inset-shadow-sm focus:inset-shadow-gray-400 placeholder:text-gray-400"
						data-init={ `flatpickr('#stopAfter',{
							dateFormat: 'm/d/Y',		
							minDate: new Date(),								
						});` }
						data-bind="stopAfter"
					/>
				</fieldset>
				<div class="w-full flex justify-end items-center gap-2">
					<button
						class="appearance-none outline-none cursor-pointer py-2 px-4 rounded bg-gray-200 transition duration-300 hover:opacity-80 focus:ring-2 focus:ring-gray-600 focus:ring-offset-2 focus:ring-offset-gray-50 disabled:cursor-not-allowed disabled:opacity-70"
						type="button"
						data-on:click="evt.stopPropagation();$_addModalAbortController.abort();@get('/add/close');"
						data-attr-disabled="$_closingAddModal"
					>
						Cancel
					</button>
					<button
						data-attr:disabled="$_addingTask"
						type="submit"
						class="appearance-none outline-none cursor-pointer py-2 px-4 rounded bg-orange-700 text-white transition duration-300 hover:opacity-80 focus:ring-2 focus:ring-orange-700 focus:ring-offset-2 focus:ring-offset-orange-50 disabled:cursor-not-allowed disabled:opacity-70"
					>Save Task</button>
				</div>
			</form>
		</dialog>
	</div>
}

templ AddEventResult(success bool, task string) {
	if success {
		<p
			id="eventResult"
			style="view-transition-name:event-result"
			class="animate-result py-1 px-3 w-full bg-teal-200 text-teal-600 font-semibold rounded"
		>
			{ "Succesfully added task "+task }
		</p>
	} else {
		<p
			id="eventResult"
			style="view-transition-name:event-result"
			class="animate-result py-1 px-3 w-full bg-red-200 text-red-600 font-semibold rounded"
		>
			{ "Error adding task "+task+". Please try again later." }
		</p>
	}
}
