package scripts

templ EditorJsInitializeScript() {
	<script type="text/javascript">          
        function initializeEditor(elementId,dataStr) {                
            if (dataStr.trim()==''){
                dataStr='{"blocks":[]}';
            } else  {
                dataStr= dataStr.replaceAll('\n','\\n').replaceAll('\r','\\r').replaceAll('\t','\\t')
                        .replaceAll('DOLLAR_SIGN','$').replaceAll("SINGLE_QUOTE","'")
                        .replaceAll('DOUBLE_QUOTE','\\"').replaceAll('BACKSLASH','\\\\');                        
            }
           
            let dataParsed={}
            try{
                dataParsed=JSON.parse(dataStr);
            }
            catch(err){
                console.error("Error parsing JSON data for Editor:", err);      
                dataParsed={blocks:[]};          
            }
            const editor = new EditorJS({
                holder: elementId, // ID of the element where Editor.js will be initialized
                tools: {
                    // ... your tools                  
                    header: {
                        class: Header,
                        inlineToolbar: ['marker', 'link'],
                        config: {
                            placeholder: 'Header'
                        },
                        shortcut: 'CMD+SHIFT+H'                      
                    },
                    List: {
                        class: EditorjsList,
                        inlineToolbar: true,
                            config: {
                                defaultStyle: 'unordered'
                            },
                    },
                    quote: {
                        class: Quote,
                        inlineToolbar: true,
                        config: {
                            quotePlaceholder: 'Enter a quote',
                            captionPlaceholder: 'Quote\'s author',
                        },
                        shortcut: 'CMD+SHIFT+O'
                    },                    
                    image: SimpleImage,
                    warning: Warning,
                    marker: {
                        class:  Marker,
                        shortcut: 'CMD+SHIFT+M'
                    },
                    code: {
                        class:  CodeTool,
                        shortcut: 'CMD+SHIFT+C'
                    },
                    delimiter: Delimiter,
                    inlineCode: {
                        class: InlineCode,
                        shortcut: 'CMD+SHIFT+C'
                    },
                    linkTool: LinkTool,
                    embed: Embed,
                    table: {
                        class: Table,
                        inlineToolbar: true,
                        shortcut: 'CMD+ALT+T'
                    },
                },
                data:dataParsed,   
                onChange:(api, event)=>{                      
                    document.getElementById(elementId).dispatchEvent(new Event('changed'))
                }                                   
            });         
            return editor;       
        }
        function convertToStringAndReplaceCharacters(editorData){   
            editorData.blocks.forEach((block)=>{
                if(block.data){
                    if(block.data.text){
                        block.data.text=replaceCharacters(block.data.text);
                    } else if(block.data.items){
                        block.data.items.forEach((item)=>{
                            recursiveItemContentReplaceCharacters(item);
                        });
                    } else if(block.data.code){
                        block.data.code=replaceCharacters(block.data.code);
                    } else if(block.data.title){
                        block.data.title=replaceCharacters(block.data.title);
                        if (block.data.message){
                            block.data.message=replaceCharacters(block.data.message);
                        }
                    } else if(block.data.content && block.data.content.length){
                        for(let rowIdx=0;rowIdx<block.data.content.length;rowIdx++){
                            if(block.data.content[rowIdx] && block.data.content[rowIdx].length){
                                for (let colIdx=0;colIdx<block.data.content[rowIdx].length;colIdx++){
                                    if(block.data.content[rowIdx][colIdx]){
                                        block.data.content[rowIdx][colIdx]=replaceCharacters(block.data.content[rowIdx][colIdx]);
                                    }
                                }
                            }
                        }
                    }
                }
            })     
            const retData= JSON.stringify(editorData); 
            return retData;
        }
        function recursiveItemContentReplaceCharacters(item){   
            if(item.content){
                item.content=replaceCharacters(item.content);
            }
            if(item.items){
                item.items.forEach((subItem)=>{
                    recursiveItemContentReplaceCharacters(subItem);
                });
            }
        }
        function replaceCharacters(val){
            return val.replaceAll("'","SINGLE_QUOTE")
                        .replaceAll('$','DOLLAR_SIGN').replaceAll('"','DOUBLE_QUOTE')
                        .replaceAll('\\','BACKSLASH');
        }
        function destroyEditor(editorInstance){                        
            if(editorInstance && editorInstance.destroy){
                editorInstance.destroy();
            }
        }        
    </script>
}
