@import "tailwindcss";

@theme {
    --color-primary: var(--color-slate-700);
}

.animate-spinner {
    animation: spinner 2s var(--ease-spring-3) infinite;
}

@keyframes spinner{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}