package components

import "strconv"

templ errorContainer() {
	<div
		class="absolute top-2 right-0 flex flex-col gap-2"
		id="errorContainer"
	></div>
}

templ ErrorMessage(id int, message string) {
	<p
		class="animate-error bg-white py-2 px-4 rounded text-red-600 font-semibold shadow-2xl"
		style={ "view-transition-name:error-" + strconv.Itoa(id) + ";" }
		id={ "error-" + strconv.Itoa(id) }
	>
		{ message }
	</p>
}

templ ErrorMessageAnimateOut(id int, message string) {
	<p
		class="animate-error-out bg-white py-2 px-4 rounded text-red-600 font-semibold shadow-2xl"
		style={ "view-transition-name:error-" + strconv.Itoa(id) + ";" }
		id={ "error-" + strconv.Itoa(id) }
	>
		{ message }
	</p>
}
