package components 

templ Main() {
	@layout() {
		<main
			class="w-full h-full flex flex-col gap-3 container mx-auto py-2 px-4 relative items-start"
			data-signals-showSearchResults="false"
			data-signals-loadingMap="true"
		>
			@header()
			@placesSearchCard()
			@mapCard()
			@errorContainer()
		</main>
	}
}

templ header() {
	<div class="flex flex-col gap-1 text-center w-full mx-auto shrink-0">
		<h1 class="text-3xl font-bold text-primary lg:text-4xl">Discover Amazing Places</h1>
		<p class="text-secondary">Explore 40,000+ cities worldwide with AI-powered recommendations</p>
	</div>
}
