package components 

templ Main() {
	@layout() {
		<main
			class="w-full h-full flex flex-col gap-3 container mx-auto py-2 px-4 relative items-start"
			data-signals-showSearchResults="false"
			data-signals-loadingMap="true"
		>
			@header()
			@placesSearchCard()
			@mapCard()
			@errorContainer()
		</main>
	}
}

templ header() {
	<div class="flex flex-col gap-1 text-center w-full mx-auto shrink-0">
		<h1 class="text-3xl font-bold text-primary lg:text-4xl">Discover Amazing Places</h1>
		<p class="text-secondary">Explore 40,000+ cities worldwide with AI-powered recommendations</p>
	</div>
}

templ mapCard() {
	<div
		class="py-2 px-4 flex flex-col gap-1  shrink-0 shadow-lg relative shadow-action-light/20 rounded-xl bg-white w-full mx-auto h-100 md:py-6 md:px-8 md:h-116 lg:h-136"
		data-on-load="@get('/map/initialize')"
		data-class="{'z-0':$showSearchResults}"
		data-on-click="$showSearchResults=false"
	>
		<h2 class="text-xl text-secondary w-full text-center font-semibold lg:text-2xl">Places to Visit</h2>
		<div
			id="map"
			class="h-full w-full"
			data-class="{'z-0':$loadingMap}"
		></div>
		@loader("$loadingMap", "border-3 w-16 h-16", "")
		<span class="text-sm text-primary">* Zoom out in the map if you don't see any locations 😊...</span>
	</div>
}
