package components

import "datastar-notes/components/scripts"

templ layout() {
	<!DOCTYPE html>
	<html lang="en" class="w-full h-full">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>RG Notes</title>
			<meta name="description" content="Simple app to take notes"/>
			<link rel="icon" type="image/x-icon" href="/assets/favicon.ico"/>
			<link rel="preconnect" href="https://fonts.googleapis.com"/>
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
			<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet"/>
			<link href="https://fonts.googleapis.com/css2?family=Meow+Script&display=swap" rel="stylesheet"/>
			<link rel="stylesheet" href="/assets/css/styles.css"/>
			<link rel="stylesheet" href="/assets/css/openprops.min.css"/>
			<!--Begin Editor JS-->
			<!-- Header -->
			<script src="/assets/scripts/editorjs/header.min.js"></script>
			<!-- Image -->
			<script src="/assets/scripts/editorjs/simple-image.min.js"></script>
			<!-- Delimiter -->
			<script src="/assets/scripts/editorjs/delimiter.min.js"></script>
			<!-- List -->
			<script src="/assets/scripts/editorjs/list.min.js"></script>
			<!-- Checklist -->
			<script src="/assets/scripts/editorjs/checklist.min.js"></script>
			<!-- Quote -->
			<script src="/assets/scripts/editorjs/quote.min.js"></script>
			<!-- Code -->
			<script src="/assets/scripts/editorjs/code.min.js"></script>
			<!-- Embed -->
			<script src="/assets/scripts/editorjs/embed.min.js"></script>
			<!-- Table -->
			<script src="/assets/scripts/editorjs/table.min.js"></script>
			<!-- Link -->
			<script src="/assets/scripts/editorjs/link.min.js"></script>
			<!-- Warning -->
			<script src="/assets/scripts/editorjs/warning.min.js"></script>
			<!-- Marker -->
			<script src="/assets/scripts/editorjs/marker.min.js"></script>
			<!-- Inline Code -->
			<script src="/assets/scripts/editorjs/inline-code.min.js"></script>
			<!-- main -->
			<script src="/assets/scripts/editorjs/index.min.js"></script>
			<!--End Editor JS-->
			<script src="/assets/scripts/data-star.min.js" type="module"></script>
		</head>
		<body class="w-full h-full bg-neutral-50  text-neutral-800 d font-[Inter,san_serif]">
			{ children... }
			@scripts.EditorJsInitializeScript()
			@scripts.FocusTrap()
		</body>
	</html>
}
