package shared

import (
	"datastar-stock/models"
	"strings"
)

func ReplaceSpecialCharsInTicker(ticker string) string {
	// Replace special characters in ticker with empty string
	replacer := strings.NewReplacer(".", "", "-", "", " ", "")
	return replacer.Replace(ticker)
}
func replaceSpecialCharsInName(name string) string {
	// Replace forward slashes in name with empty string
	replacer1 := strings.NewReplacer("/", "||")
	replaced := replacer1.Replace(name)
	replacer2 := strings.NewReplacer("$", "|||") //e.g ALP.P.Q
	replaced = replacer2.Replace(replaced)
	replacer3 := strings.NewReplacer("%", "||||") //e.g ALP.P.Q
	replaced = replacer3.Replace(replaced)
	return replaced
}

templ SearchCompanyInput(page string, class string) {
	<form
		class={ "w-full py-2 px-4 flex gap-1 items-center rounded transition-all duration-300 border border-gray-600 inset-shadow-sm inset-shadow-indigo-500/30  focus-within:ring-2 focus-within:ring-gray-600 focus-within:ring-offset-2 focus-within:ring-offset-gray-50 disabled:cursor-not-allowed disabled:opacity-80 ",class }
		id="companySearchForm"
	>
		<input
			type="text"
			name="search"
			class="appearance-none outline-none w-full placeholder:text-slate-400"
			placeholder="Ticker or Company Name"
			data-indicator-searching-company
			data-on-input__debounce.300ms="@post('/companies/search', {contentType:'form'})"
		/>
		<input type="hidden" name="page" value={ page }/>
		@Spinner("$searchingCompany", "border-slate-600")
	</form>
}

templ CompaniesTable(companies []models.CompanyFromDb, page string, class string) {
	<table class={ "w-full table-fixed text-left " + class }>
		<thead>
			<tr>
				if page == "home" {
					<th class="py-1 px-3 w-1/4 text-menu md:px-4 md:py-2 ">Ticker</th>
					<th class="py-1 px-3 w-1/2 text-menu md:px-4 md:py-2">Name</th>
					<th class="py-1 px-3 w-1/4 md:px-4 md:py-2 "></th>
				} else {
					<th class="py-1 px-3 w-1/4 text-menu md:px-4 md:py-2 ">Ticker</th>
					<th class="py-1 px-3 w-3/4 text-menu md:px-4 md:py-2">Name</th>
				}
			</tr>
		</thead>
		if len(companies) == 0 {
			@CompaniesTbodyHint(page)
		} else {
			@CompaniesTbody(companies, page)
		}
	</table>
}

templ CompaniesTbody(companies []models.CompanyFromDb, page string) {
	<tbody id="companies_tbody" style="view-transition-name:companies-tbody">
		@CompaniesTr(companies, page)
	</tbody>
}

templ CompaniesTr(companies []models.CompanyFromDb, page string) {
	for idx, company := range companies {
		{{ backgroundClass := "" }}
		if idx%2 != 0 {
			{{ backgroundClass = "bg-gray-100" }}
		}
		<tr class={ "animate-result " + backgroundClass } style={ "view-transition-name:company-" + ReplaceSpecialCharsInTicker(company.Ticker) }>
			<td class="py-1 px-3  text-slate-600 break-all md:px-4 md:py-2">{ company.Ticker }</td>
			<td class="py-1 px-3 text-slate-600 break-all md:px-4 md:py-2">{ company.Name }</td>
			if page == "home" {
				<td class="py-1 px-3  md:px-4 md:py-2">
					<button
						type="button"
						class="appearance-none outline-none w-full rounded-lg py-1 px-3 bg-secondary text-white cursor-pointer transition duration-300 flex gap-2 items-center justify-center focus:ring-2 focus:ring-secondary focus:ring-offset-2 focus:ring-offset-white disabled:cursor-not-allowed disabled:opacity-80 md:py-2 md:px-4"
						data-on-click={ "@post('/home/recent/add/" + company.Ticker + "/" + replaceSpecialCharsInName(company.Name) + "',{contentType:'form',selector:'#recent_form'})" }
						data-indicator={ "adding_" + ReplaceSpecialCharsInTicker(company.Ticker) }
						data-attr-disabled={ "$adding_" + ReplaceSpecialCharsInTicker(company.Ticker) }
					>
						<span class="hidden md:inline">Submit</span>
						<span data-show={ "!$adding_" + ReplaceSpecialCharsInTicker(company.Ticker) }>
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
								<path d="M3.478 2.404a.75.75 0 0 0-.926.941l2.432 7.905H13.5a.75.75 0 0 1 0 1.5H4.984l-2.432 7.905a.75.75 0 0 0 .926.94 60.519 60.519 0 0 0 18.445-8.986.75.75 0 0 0 0-1.218A60.517 60.517 0 0 0 3.478 2.404Z"></path>
							</svg>
						</span>
						@Spinner("$adding_"+ReplaceSpecialCharsInTicker(company.Ticker), "border-white")
					</button>
				</td>
			}
		</tr>
	}
}

templ CompaniesTbodyEmpty(page string) {
	<tbody id="companies_tbody" style="view-transition-name:companies-tbody">
		<tr class="animate-result" style={ "view-transition-name:company-hint" }>
			if page=="home" {
				<td class="px-4 py-2 text-center text-red-600" colspan="3">No companies found</td>
			} else {
				<td class="px-4 py-2 text-center text-red-600" colspan="2">No companies found</td>
			}
		</tr>
	</tbody>
}

templ CompaniesTbodyHint(page string) {
	<tbody id="companies_tbody" style="view-transition-name:companies-tbody">
		<tr class="animate-result" style={ "view-transition-name:company-hint" }>
			if page=="home" {
				<td class="px-4 py-2 text-center text-secondary" colspan="3">Enter 3+ characters to search for companies</td>
			} else {
				<td class="px-4 py-2 text-center text-secondary" colspan="2">Enter 3+ characters to search for companies</td>
			}
		</tr>
	</tbody>
}
