package shared

import (
	"datastar-stock/models"
	"strings"
)

func ReplaceSpecialCharsInTicker(ticker string) string {
	// Replace special characters in ticker with empty string
	replacer := strings.NewReplacer(".", "", "-", "", " ", "")
	return replacer.Replace(ticker)
}

templ CompaniesTable(companies []models.CompanyFromDb) {
	<table class="w-full table-fixed text-left">
		<thead>
			<tr>
				<th class="py-1 px-3 w-1/4 text-menu md:px-4 md:py-2 ">Ticker</th>
				<th class="py-1 px-3 w-1/2 text-menu md:px-4 md:py-2">Name</th>
				<th class="py-1 px-3 md:px-4 md:py-2 w-1/4"></th>
			</tr>
		</thead>
		if len(companies) == 0 {
			@CompaniesTbodyHint()
		} else {
			@CompaniesTbody(companies)
		}
	</table>
}

templ CompaniesTbody(companies []models.CompanyFromDb) {
	<tbody id="companies_tbody" style="view-transition-name:companies-tbody">
		for _, company := range companies {
			<tr class="animate-result" style={ "view-transition-name:company-" + ReplaceSpecialCharsInTicker(company.Ticker) }>
				<td class="py-1 px-3 w-1/4 text-slate-600 break-all md:px-4 md:py-2">{ company.Ticker }</td>
				<td class="py-1 px-3 w-1/2 text-slate-600 break-all md:px-4 md:py-2">{ company.Name }</td>
				<td class="py-1 px-3 w-1/4 md:px-4 md:py-2">
					<button
						type="button"
						class="appearance-none outline-none w-full rounded-lg py-1 px-3 bg-secondary text-white cursor-pointer transition duration-300 flex gap-2 items-center justify-center focus:ring-2 focus:ring-secondary focus:ring-offset-2 focus:ring-offset-white disabled:cursor-not-allowed disabled:opacity-80 md:py-2 md:px-4"
						data-on-click={ "@post('/home/recent/add/" + company.Ticker + "',{contentType:'form',selector:'#recent_form'})" }
						data-indicator={ "adding_" + ReplaceSpecialCharsInTicker(company.Ticker) }
						data-attr-disabled={ "$adding_" + ReplaceSpecialCharsInTicker(company.Ticker) }
					>
						<span class="hidden md:inline">Submit</span>
						<span data-show={ "!$adding_" + ReplaceSpecialCharsInTicker(company.Ticker) }>
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
								<path d="M3.478 2.404a.75.75 0 0 0-.926.941l2.432 7.905H13.5a.75.75 0 0 1 0 1.5H4.984l-2.432 7.905a.75.75 0 0 0 .926.94 60.519 60.519 0 0 0 18.445-8.986.75.75 0 0 0 0-1.218A60.517 60.517 0 0 0 3.478 2.404Z"></path>
							</svg>
						</span>
						@Spinner("$adding_"+ReplaceSpecialCharsInTicker(company.Ticker), "border-white")
					</button>
				</td>
			</tr>
		}
	</tbody>
}

templ CompaniesTbodyEmpty() {
	<tbody id="companies_tbody" style="view-transition-name:companies-tbody">
		<tr class="animate-result" style={ "view-transition-name:company-hint" }>
			<td class="px-4 py-2 text-center text-red-600" colspan="3">No companies found...</td>
		</tr>
	</tbody>
}

templ CompaniesTbodyHint() {
	<tbody id="companies_tbody" style="view-transition-name:companies-tbody">
		<tr class="animate-result" style={ "view-transition-name:company-hint" }>
			<td class="px-4 py-2 text-center text-secondary" colspan="3">Search to see results...</td>
		</tr>
	</tbody>
}
