package shared

import "datastar-stock/models"

templ Spinner(model models.Spinner) {
	if model.DataShowSignal == "" {
		<span
			class={ `animate-spin-2 w-5 h-5 rounded-full border-2 border-dashed  ` + model.Class }
		></span>
	} else {
		<span
			data-show={ model.DataShowSignal }
			class={ `animate-spin-2 w-5 h-5 rounded-full border-2 border-dashed  ` + model.Class }
		></span>
	}
}
