package shared

import "strconv"
import "datastar-stock/models"

templ Cards(items []models.TickerCard, page string) {
	for idx, item := range items {
		@cardNoDataLoad(idx, item, page, len(items))
	}
}

templ cardNoDataLoad(index int, item models.TickerCard, page string, totalNoOfItems int) {
	<div
		class={ " card shadow bg-white flex flex-col py-2 px-4 rounded lg:py-4 lg:px-6 " }
		data-on-resize__window__throttle.500ms.trail={ "ResizeChart('chart_" + ReplaceSpecialCharsInTicker(item.Ticker) + "')" }
		id={ "card_" + ReplaceSpecialCharsInTicker(item.Ticker) }
		style={ "view-transition-name:card-" + ReplaceSpecialCharsInTicker(item.Ticker) }
	>
		<div class="flex gap-2 items-center w-full">
			if page == "populars" {
				@tickerSequenceChanger(index, item.Ticker, totalNoOfItems)
			}
			<div class="flex flex-col gap-1">
				<div class="flex gap-2 items-center">
					<h3 class=" text-menu text-lg font-semibold">
						{ item.Ticker }
					</h3>
					@TickerIsNotInPopularUI(item.Ticker)
				</div>
				if item.Name!="" {
					<p class="text-slate-600 break-all">
						{ item.Name }
					</p>
				}
			</div>
		</div>
		<div class="w-full h-96" id={ "chart_" + ReplaceSpecialCharsInTicker(item.Ticker) }></div>
	</div>
}

templ Card(item models.TickerCard) {
	<div
		class={ " card shadow bg-white flex flex-col py-2 px-4 rounded lg:py-4 lg:px-6 " }
		data-on-load={ "@get('/data/" + item.Ticker + "')" }
		data-on-resize__window__throttle.500ms.trail={ "ResizeChart('chart_" + ReplaceSpecialCharsInTicker(item.Ticker) + "')" }
		id={ "card_" + ReplaceSpecialCharsInTicker(item.Ticker) }
		style={ "view-transition-name:card-" + ReplaceSpecialCharsInTicker(item.Ticker) }
	>
		<div class="flex flex-col gap-2 w-full">
			<div class="flex gap-2 items-center">
				<h3 class=" text-menu text-lg font-semibold">
					{ item.Ticker }
				</h3>
				@TickerIsNotInPopularUI(item.Ticker)
			</div>
			<p class="text-slate-600 break-all">
				{ item.Name }
			</p>
		</div>
		<div class="w-full h-96" id={ "chart_" + ReplaceSpecialCharsInTicker(item.Ticker) }></div>
	</div>
}

templ tickerSequenceChanger(index int, ticker string, totalNoOfTickers int) {
	<form
		class="flex flex-col items-center"
		data-indicator={ "priority_change_" + ReplaceSpecialCharsInTicker(ticker) }
		data-on-submit={ "evt.preventDefault();@post('/home/populars/priority/change', {contentType:'form'})" }
	>
		<button
			type="submit"
			name="incrementDecrementIndicator"
			value="increase"
			class="appearance-none outline-none flex cursor-pointer rounded-full transition duration-300 text-secondary focus:ring-1 focus:ring-secondary disabled:cursor-not-allowed disabled:opacity-50"
			data-attr-disabled={ strconv.Itoa(index) + "==0 || $priority_change_" + ReplaceSpecialCharsInTicker(ticker) }
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 20 20"
				fill="currentColor"
				class="size-5"
			>
				<path fill-rule="evenodd" d="M10 17a.75.75 0 0 1-.75-.75V5.612L5.29 9.77a.75.75 0 0 1-1.08-1.04l5.25-5.5a.75.75 0 0 1 1.08 0l5.25 5.5a.75.75 0 1 1-1.08 1.04l-3.96-4.158V16.25A.75.75 0 0 1 10 17Z" clip-rule="evenodd"></path>
			</svg>
		</button>
		<p class=" text-slate-700 flex gap-1 items-center">
			<span data-show={ "!$priority_change_" + ReplaceSpecialCharsInTicker(ticker) }>#{ strconv.Itoa(index+1) }</span>
			@Spinner("$priority_change_"+ReplaceSpecialCharsInTicker(ticker), " border-secondary")
		</p>
		<input type="hidden" name="ticker" value={ ticker }/>
		<button
			type="submit"
			name="incrementDecrementIndicator"
			value="decrease"
			class="appearance-none outline-none flex cursor-pointer rounded-full transition duration-300 text-secondary focus:ring-1 focus:ring-secondary disabled:cursor-not-allowed disabled:opacity-50"
			data-attr-disabled={ strconv.Itoa(index+1) + "==" + strconv.Itoa(totalNoOfTickers) + " || $priority_change_" + ReplaceSpecialCharsInTicker(ticker) }
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 20 20"
				fill="currentColor"
				class="size-5"
			>
				<path fill-rule="evenodd" d="M10 3a.75.75 0 0 1 .75.75v10.638l3.96-4.158a.75.75 0 1 1 1.08 1.04l-5.25 5.5a.75.75 0 0 1-1.08 0l-5.25-5.5a.75.75 0 1 1 1.08-1.04l3.96 4.158V3.75A.75.75 0 0 1 10 3Z" clip-rule="evenodd"></path>
			</svg>
		</button>
	</form>
}

templ TickerIsInPopularUI(ticker string) {
	<div
		class="p-1 -mt-1 text-yellow-500"
		id={ "tickerPopular_" + ReplaceSpecialCharsInTicker(ticker) }
	>
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
			<path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd"></path>
		</svg>
	</div>
}

templ TickerIsNotInPopularUI(ticker string) {
	<div id={ "tickerPopular_" + ReplaceSpecialCharsInTicker(ticker) }></div>
}

templ CardTickerError(ticker string, errorMessage string) {
	<div
		class={ " card shadow bg-white flex flex-col py-2 px-4 rounded lg:py-4 lg:px-6 " }
		id={ "card_" + ReplaceSpecialCharsInTicker(ticker) }
		style={ "view-transition-name:card_" + ReplaceSpecialCharsInTicker(ticker) }
	>
		<p class="w-full text-menu font-semibold">
			{ ticker }
		</p>
		<div class="flex flex-col gap-1 items-center justify-center text-red-500 h-96">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
				<path fill-rule="evenodd" d="M9.401 3.003c1.155-2 4.043-2 5.197 0l7.355 12.748c1.154 2-.29 4.5-2.599 4.5H4.645c-2.309 0-3.752-2.5-2.598-4.5L9.4 3.003ZM12 8.25a.75.75 0 0 1 .75.75v3.75a.75.75 0 0 1-1.5 0V9a.75.75 0 0 1 .75-.75Zm0 8.25a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z" clip-rule="evenodd"></path>
			</svg>
			<p>{ errorMessage }</p>
		</div>
	</div>
}

templ CardError() {
	<div
		class={ " card shadow bg-white flex flex-col py-2 px-4 rounded lg:py-4 lg:px-6 " }
	>
		<p class="w-full text-menu font-semibold"></p>
		<div class="flex flex-col gap-1 items-center justify-center text-red-500 h-96">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
				<path fill-rule="evenodd" d="M9.401 3.003c1.155-2 4.043-2 5.197 0l7.355 12.748c1.154 2-.29 4.5-2.599 4.5H4.645c-2.309 0-3.752-2.5-2.598-4.5L9.4 3.003ZM12 8.25a.75.75 0 0 1 .75.75v3.75a.75.75 0 0 1-1.5 0V9a.75.75 0 0 1 .75-.75Zm0 8.25a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z" clip-rule="evenodd"></path>
			</svg>
			<p>Error! Try again later</p>
		</div>
	</div>
}
