@import "tailwindcss";
@plugin 'tailwind-scrollbar';


@theme {
    --color-background: #1A1A2E;
    --color-primary: #E0E0E0;
    --color-secondary: #8C9EFF;
    --color-background-2: #282845;
    --font-roboto: "Roboto", sans-serif;
}

.animate-card {
    animation: card 0.6s var(--ease-elastic-out-5) forwards;
}

@keyframes card {
    0% {
        opacity: 0;
        transform: translateY(15%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-loader {
    animation: loader 2s var(--ease-spring-5) infinite;
}

@keyframes loader {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

::view-transition-new(login-modal),
::view-transition-new(delete-modal),
::view-transition-new(quiz-modal),
.animate-modal {
    animation: modal 0.6s var(--ease-elastic-out-5) forwards;
}

::view-transition-old(login-modal),
::view-transition-old(delete-modal),
::view-transition-old(quiz-modal) {
    animation: modal-out 0.2s var(--ease-out-5) forwards;
}

@keyframes modal {
    0% {
        scale: 0.95;
    }

    100% {
        scale: 1;
    }
}

@keyframes modal-out {
    to {
        opacity: 0;
        scale: 0.95;
    }
}

.animate-result {
    animation: result 0.5s var(--ease-elastic-out-5) forwards;
}

@keyframes result {
    0% {
        opacity: 0;
        transform: scaleY(0.8);
        transform-origin: top;
    }

    100% {
        opacity: 1;
        transform: scaleY(1);
        transform-origin: top;
    }
}

.animate-docked-player {
    animation: docked-player 0.3s var(--ease-in-5) forwards;
}

@keyframes docked-player {
    0% {
        transform: scaleY(0);
        opacity: 0;
        transform-origin: bottom;
    }

    100% {
        transform: scaleY(1);
        opacity: 1;
        transform-origin: bottom;
    }
}

.animate-quiz {
    animation: quiz 0.2s var(--ease-out-3) forwards;
}

@keyframes quiz {
    0% {
        opacity: 0;
        transform: translateX(2%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.animate-spin {
    animation: spin 2s var(--ease-spring-3) infinite forwards;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.animate-fade {
    animation: fade 0.2s var(--ease-out-3) forwards;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}