package components

import "strconv"

templ chatInput(currentChatSessionId int) {
	<div
		class="relative mt-2 shrink-0 rounded border border-slate-200 w-11/12 transition duration-300 mx-auto flex items-center focus-within:ring-1 focus-within:ring-slate-200 focus-within:ring-offset-2 focus-within:ring-offset-gray-900 lg:w-8/12 lg:mt-6 xl:w-6/12"
		style="view-transition-name:prompt-form"
		x-data="chatInput"
	>
		@ChatSessionIdInput(currentChatSessionId, false)
		<textarea
			class="appreance-none outline-none w-full py-1 px-3 flex-1 resize-none overflow-y-auto scroll-smooth scrollbar-thin scrollbar-track-transparent scrollbar-thumb-lime-500 placeholder:text-gray-400 lg:py-2 lg:px-4 "
			placeholder="Send a message"
			rows="3"
			name="prompt"
			x-model="prompt"
			x-on:keyup.enter="submitMessage($event,'section')"
		></textarea>
		@fileUpload()
		<button
			class="appearance-none outline-none p-1 mr-2 rounded-full cursor-pointer transition duration-300 focus:ring-1 focus:ring-slate-200 hover:opacity-90 disabled:cursor-not-allowed disabled:opacity-80"
			x-on:click="submitMessage($event,'section')"
			x-bind:disabled="$store.data.promptProcessing"
		>
			<template x-if="!$store.data.promptProcessing">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5" style="view-transition-name:submit-button">
					<path fill-rule="evenodd" d="M11.47 2.47a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 1 1-1.06 1.06l-6.22-6.22V21a.75.75 0 0 1-1.5 0V4.81l-6.22 6.22a.75.75 0 1 1-1.06-1.06l7.5-7.5Z" clip-rule="evenodd"></path>
				</svg>
			</template>
			<template x-if="$store.data.promptProcessing">
				<div class="flex items-center gap-1 flex-1" style="view-transition-name:submit-button">
					<span class="h-1.5 w-1.5 bg-slate-100 rounded-full animate-loader-one"></span>
					<span class="h-1.5 w-1.5 bg-slate-100 rounded-full animate-loader-two"></span>
				</div>
			</template>
		</button>
	</div>
}

templ ChatSessionIdInput(sessionId int, isOob bool) {
	if isOob {
		<input
			type="hidden"
			name="chatSessionId"
			id="chatSessionId"
			value={ strconv.Itoa(sessionId) }
			hx-swap-oob="true"
		/>
	} else {
		<input
			type="hidden"
			name="chatSessionId"
			id="chatSessionId"
			value={ strconv.Itoa(sessionId) }
		/>
	}
}

templ fileUpload() {
	<template x-if="fileName!=''">
		<div
			class="animate-slide-up absolute -top-12 left-0 z-10 w-full py-1 px-3 flex items-center gap-3 rounded bg-gray-800 border border-slate-200 text-slate-200"
			style="view-transition-name:upload-file-name"
		>
			<img class="h-5 w-5 rounded-full" x-bind:src="imgBase64"/>
			<span x-text="fileName" class="flex-1"></span>
			<button
				class="appearance-none outline-none p-1 rounded-full cursor-pointer transition duration-300 text-slate-200 focus:ring-1 focus:ring-slate-200"
				x-on:click="clearFileInput()"
			>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 24 24"
					fill="currentColor"
					class="size-6"
				>
					<path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd"></path>
				</svg>
			</button>
		</div>
	</template>
	<input
		type="file"
		name="image"
		x-ref="imageInput"
		class="hidden"
		accept="image/*"
		x-on:change="fileInputChanged"
	/>
	<button
		class="appearance-none outline-none p-1 mr-2 rounded-full cursor-pointer transition duration-300 focus:ring-1 focus:ring-slate-200 hover:opacity-90 disabled:cursor-not-allowed disabled:opacity-80"
		x-on:click="$refs.imageInput.click()"
		x-bind:disabled="$store.data.promptProcessing"
	>
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
			<path fill-rule="evenodd" d="M18.97 3.659a2.25 2.25 0 0 0-3.182 0l-10.94 10.94a3.75 3.75 0 1 0 5.304 5.303l7.693-7.693a.75.75 0 0 1 1.06 1.06l-7.693 7.693a5.25 5.25 0 1 1-7.424-7.424l10.939-10.94a3.75 3.75 0 1 1 5.303 5.304L9.097 18.835l-.008.008-.007.007-.002.002-.003.002A2.25 2.25 0 0 1 5.91 15.66l7.81-7.81a.75.75 0 0 1 1.061 1.06l-7.81 7.81a.75.75 0 0 0 1.054 1.068L18.97 6.84a2.25 2.25 0 0 0 0-3.182Z" clip-rule="evenodd"></path>
		</svg>
	</button>
}
