package components 

import "htmx-gemini-chat/models"

templ Main(conversations []models.ChatConversation, sessions []models.ChatSession, currentChatSessionId int) {
	@layout() {
		<main class="relative w-full h-full flex flex-col items-center pt-3" style="view-transition-name:main">
			<h1 class="text-2xl font-semibold text-cyan-400" style="view-transition-name:header1">Gemini Chat</h1>
			@section(conversations, false)
			@chatInput(currentChatSessionId)
		</main>
		@menu(sessions)
		@errorToast()
		@PageLoader()
	}
}

templ NewChatSession(session models.ChatSession) {
	@MenuItem(session, true)
	@section(make([]models.ChatConversation, 0, 0), true)
	@ChatSessionIdInput(session.Id, true)
}

templ UIToReplaceDeleteChatSession(conversations []models.ChatConversation, chatSessionIdForConversations int) {
	@section(conversations, true)
	@ChatSessionIdInput(chatSessionIdForConversations, true)
}

templ section(conversations []models.ChatConversation, isOob bool) {
	if (isOob) {
		<section
			id="section"
			class="w-11/12 shrink-0 mx-auto h-[68vh] flex flex-col gap-2 overflow-x-hidden overflow-y-auto scroll-smooth scrollbar-thin scrollbar-track-gray-300 scrollbar-thumb-lime-500 mt-2 py-1 px-3 pb-20 rounded lg:w-10/12 lg:mt-10 lg:py-2 lg:px-4 lg:pb-20 xl:w-9/12 xl:h-[72vh] focus:ring-1 focus:ring-slate-200"
			style="view-transition-name:section"
			hx-swap-oob="true"
		>
			for _,conversation:= range conversations {
				if conversation.Sender == "user" {
					@UserMessage(conversation.Id, conversation.Message, conversation.ImgData)
				} else {
					@GeminiMessage(conversation.Id, conversation.Message)
				}
			}
		</section>
	} else {
		<section
			id="section"
			class="w-11/12 shrink-0 mx-auto h-[68vh] flex flex-col gap-2 overflow-x-hidden overflow-y-auto scroll-smooth scrollbar-thin scrollbar-track-gray-300 scrollbar-thumb-lime-500 mt-2 py-1 px-3 pb-20 rounded lg:w-10/12 lg:mt-10 lg:py-2 lg:px-4 lg:pb-20 xl:w-9/12 xl:h-[72vh] focus:ring-1 focus:ring-slate-200"
			style="view-transition-name:section"
		>
			for _,conversation:= range conversations {
				if conversation.Sender == "user" {
					@UserMessage(conversation.Id, conversation.Message, conversation.ImgData)
				} else {
					@GeminiMessage(conversation.Id, conversation.Message)
				}
			}
		</section>
	}
}
