package components 

import "htmx-gemini-chat/models"

templ Main(conversations []models.ChatConversation, sessions []models.ChatSession, model models.Section) {
	@layout() {
		<main class="w-full h-full flex flex-col items-center pt-3 pb-48 overflow-x-hidden overflow-y-auto scroll-smooth scrollbar-thin scrollbar-track-gray-200 dark:scrollbar-track-gray-300 scrollbar-thumb-lime-500" style="view-transition-name:main">
			@menuBarButton()
			<h1 class="text-2xl font-semibold text-cyan-700 dark:text-cyan-400" style="view-transition-name:header">Gemini Chat</h1>
			@section(conversations, model)
			@chatInput(model)
			@menu(sessions)
			@errorToast()
			@PageLoader()
		</main>
	}
}

templ NewChatSession(session models.ChatSession) {
	@MenuItem(session)
	@SectionAndChatSessionIdInput(make([]models.ChatConversation, 0, 0), models.Section{ChatSessionId: session.Id, WebSearch: false, ImageGeneration: false, IsOob: true})
}

templ UIToReplaceDeleteChatSession(conversations []models.ChatConversation, chatSessionIdForConversations int) {
	@section(conversations, models.Section{IsOob: true, HelperTextShow: chatSessionIdForConversations == 0})
	@ChatSessionIdInput(chatSessionIdForConversations, true)
	@setWebSearchAndImgGenerationScript(models.Section{WebSearch: false, ImageGeneration: false, IsOob: true}, len(conversations) > 0)
}

templ SectionAndChatSessionIdInput(conversations []models.ChatConversation, model models.Section) {
	@section(conversations, model)
	@ChatSessionIdInput(model.ChatSessionId, model.IsOob)
	@setWebSearchAndImgGenerationScript(model, len(conversations) > 0)
}

templ section(conversations []models.ChatConversation, model models.Section) {
	if (model.IsOob) {
		<section
			id="section"
			class="w-11/12 shrink-0 mx-auto flex flex-col gap-2  mt-2 py-1 px-3 rounded  focus:ring-1 focus:ring-slate-600 dark:focus:ring-slate-200 lg:w-10/12 lg:mt-10 lg:py-2 lg:px-4 xl:w-9/12"
			style="view-transition-name:section"
			hx-swap-oob="true"
		>
			for _,conversation:= range conversations {
				if conversation.Sender == "user" {
					@UserMessage(conversation)
				} else {
					@GeminiMessage(conversation)
				}
			}
		</section>
		@HelperText(model.HelperTextShow)
	} else {
		<section
			id="section"
			class="w-11/12 shrink-0 mx-auto flex flex-col gap-2  mt-2 py-1 px-3 rounded  focus:ring-1 focus:ring-slate-600 dark:focus:ring-slate-200 lg:w-10/12 lg:mt-10 lg:py-2 lg:px-4 xl:w-9/12"
			style="view-transition-name:section"
		>
			for _,conversation:= range conversations {
				if conversation.Sender == "user" {
					@UserMessage(conversation)
				} else {
					@GeminiMessage(conversation)
				}
			}
		</section>
		@HelperText(model.HelperTextShow)
	}
}

templ HelperText(show bool) {
	if show {
		<div
			id="helper"
			class="w-full h-full flex items-center justify-center"
			style="view-transition-name:helper"
			hx-swap-oob="true"
		>
			<p class="text-xl text-lime-700 dark:text-lime-500 font-semibold p-1 md:p-0">
				<span class="text-amber-500 dark:text-amber-200 font-bold">⚡</span> Instant Answers: Ask anything, get responses
			</p>
		</div>
	} else {
		<div id="helper" hx-swap-oob="true" style="view-transition-name:helper"></div>
	}
}
