package components 

import "htmx-gemini-chat/models"

templ Main(conversations []models.ChatConversation, sessions []models.ChatSession, currentChatSessionId int) {
	@layout() {
		<main class="w-full h-full flex flex-col items-center pt-3 pb-48 overflow-y-auto scroll-smooth scrollbar-thin scrollbar-track-gray-200 dark:scrollbar-track-gray-300 scrollbar-thumb-lime-500" style="view-transition-name:main">
			@menuBarButton()
			<h1 class="text-2xl font-semibold text-cyan-700 dark:text-cyan-400" style="view-transition-name:header">Gemini Chat</h1>
			@section(conversations, false)
			@chatInput(currentChatSessionId)
			@menu(sessions)
			@errorToast()
			@PageLoader()
		</main>
	}
}

templ NewChatSession(session models.ChatSession) {
	@MenuItem(session)
	@SectionAndChatSessionIdInput(session.Id, make([]models.ChatConversation, 0, 0), true)
}

templ UIToReplaceDeleteChatSession(conversations []models.ChatConversation, chatSessionIdForConversations int) {
	@section(conversations, true)
	@ChatSessionIdInput(chatSessionIdForConversations, true)
}

templ SectionAndChatSessionIdInput(sessionId int, conversations []models.ChatConversation, isOob bool) {
	@section(conversations, isOob)
	@ChatSessionIdInput(sessionId, isOob)
}

templ section(conversations []models.ChatConversation, isOob bool) {
	if (isOob) {
		<section
			id="section"
			class="w-11/12 shrink-0 mx-auto flex flex-col gap-2  mt-2 py-1 px-3 rounded  focus:ring-1 focus:ring-slate-600 dark:focus:ring-slate-200 lg:w-10/12 lg:mt-10 lg:py-2 lg:px-4 xl:w-9/12"
			style="view-transition-name:section"
			hx-swap-oob="true"
		>
			for _,conversation:= range conversations {
				if conversation.Sender == "user" {
					@UserMessage(conversation.Id, conversation.Message, conversation.ImgData)
				} else {
					@GeminiMessage(conversation.Id, conversation.Message)
				}
			}
		</section>
	} else {
		<section
			id="section"
			class="w-11/12 shrink-0 mx-auto flex flex-col gap-2  mt-2 py-1 px-3 rounded  focus:ring-1 focus:ring-slate-600 dark:focus:ring-slate-200 lg:w-10/12 lg:mt-10 lg:py-2 lg:px-4 xl:w-9/12"
			style="view-transition-name:section"
		>
			for _,conversation:= range conversations {
				if conversation.Sender == "user" {
					@UserMessage(conversation.Id, conversation.Message, conversation.ImgData)
				} else {
					@GeminiMessage(conversation.Id, conversation.Message)
				}
			}
		</section>
	}
}
