package components

import (
	"htmx-gemini-chat/models"
	"strconv"
)

templ menu(sessions []models.ChatSession) {
	<template x-if="!$store.data.menuOpen">
		<button
			class="appearance-none outline-none z-10 absolute top-3 left-2 rounded cursor-pointer p-1 bg-cyan-600 text-slate-200 transition duration-300 hover:opacity-80 focus:ring-2 focus:ring-cyan-600 focus:ring-offset-2 focus:ring-offset-cyan-50"
			style="view-transition-name:menu-icon-button"
			x-on:click="$store.data.openMenu()"
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 24 24"
				fill="currentColor"
				class="size-6"
				style="view-transition-name:menu-icon"
			>
				<path fill-rule="evenodd" d="M3 6.75A.75.75 0 0 1 3.75 6h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 6.75ZM3 12a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 12Zm0 5.25a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd"></path>
			</svg>
		</button>
	</template>
	<div
		class="absolute top-0 left-0 flex items-start gap-2"
		x-bind:class="$store.data.menuOpen?'h-dvh w-dvw bg-gray-900/40':'h-0 w-0'"
		x-trap="$store.data.menuOpen"
		x-on:click="$store.data.closeMenu()"
		style="view-transition-name:menu"
	>
		<aside
			class="p-1 w-10/12 h-dvh flex flex-col bg-gray-900 border-r border-slate-200 transition duration-300 ease-in-out md:w-1/2 lg:w-1/3 xl:w-1/4"
			x-show="$store.data.menuOpen"
			x-transition:leave-end="opacity-0 -translate-x-100"
			x-on:click.stop
		>
			@newChatButton()
			<ul
				id="ul_menu"
				class="appearance-none outline-none w-full h-full max-h-[90vh] overflow-y-auto overflow-x-hidden mt-5 scroll-smooth scrollbar-thin scrollbar-track-gray-300 scrollbar-thumb-lime-500 "
			>
				for _,session:= range sessions {
					@MenuItem(session, false)
				}
			</ul>
		</aside>
		<template x-if="$store.data.menuOpen">
			<button
				class="appearance-none outline-none  rounded cursor-pointer p-1 mt-5 bg-cyan-600 text-red-100 transition duration-300 hover:opacity-80 focus:ring-2 focus:ring-cyan-600 focus:ring-offset-2 focus:ring-offset-cyan-50"
				style="view-transition-name:menu-icon-button"
			>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 24 24"
					fill="currentColor"
					class="size-6"
					style="view-transition-name:menu-icon"
				>
					<path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd"></path>
				</svg>
			</button>
		</template>
	</div>
}

templ MenuItem(session models.ChatSession, animate bool) {
	{{ url := "/" + strconv.Itoa(session.Id) }}
	{{ animationClass := "animate-scale-y" }}
	if !animate {
		{{ animationClass = "" }}
	}
	<li
		id={ "li_" + strconv.Itoa(session.Id) }
		class={ "relative cursor-pointer py-2 px-4  w-full transition duration-300 flex gap-1",animationClass }
		style={ "view-transition-name:li-" + strconv.Itoa(session.Id) }
		x-data="{showDelete:false}"
	>
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 rotate-y-180">
			<path fill-rule="evenodd" d="M12 2.25c-2.429 0-4.817.178-7.152.521C2.87 3.061 1.5 4.795 1.5 6.741v6.018c0 1.946 1.37 3.68 3.348 3.97.877.129 1.761.234 2.652.316V21a.75.75 0 0 0 1.28.53l4.184-4.183a.39.39 0 0 1 .266-.112c2.006-.05 3.982-.22 5.922-.506 1.978-.29 3.348-2.023 3.348-3.97V6.741c0-1.947-1.37-3.68-3.348-3.97A49.145 49.145 0 0 0 12 2.25ZM8.25 8.625a1.125 1.125 0 1 0 0 2.25 1.125 1.125 0 0 0 0-2.25Zm2.625 1.125a1.125 1.125 0 1 1 2.25 0 1.125 1.125 0 0 1-2.25 0Zm4.875-1.125a1.125 1.125 0 1 0 0 2.25 1.125 1.125 0 0 0 0-2.25Z" clip-rule="evenodd"></path>
		</svg>
		<a
			class="apperance-none outline-none w-full flex-1 truncate rounded transition duration-300 focus:underline focus:underline-offset-4 hover:underline hover:underline-offset-4"
			href={ templ.SafeURL(url) }
			hx-get={ string(templ.SafeURL(url)) }
			hx-boost="true"
			hx-swap="outerHTML transition:true"
			hx-target="body"
			hx-trigger="FETCH_FULL_PAGE_EVENT"
			hx-push-url="true"
			x-on:click.stop="$store.data.sendFullPageFetchEvent($event,'FETCH_FULL_PAGE_EVENT')"
			style={ "view-transition-name:title-" + strconv.Itoa(session.Id) }
		>
			{ session.Title }
		</a>
		<button
			class="appearance-none outline-none p-1 rounded-full cursor-pointer transition duration-300 focus:ring-1 focus:ring-slate-200 hover:opacity-90"
			x-on:click="showDelete=!showDelete"
		>
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
				<path fill-rule="evenodd" d="M10.5 6a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0Zm0 6a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0Zm0 6a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0Z" clip-rule="evenodd"></path>
			</svg>
		</button>
		<button
			x-show="showDelete"
			x-transition:leave-end="opacity-0 scale-x-0"
			class="appearance-none outline-none animate-delete-menu origin-right absolute right-12 top-2 py-1 px-3 bg-white text-red-600 flex gap-2 items-center  rounded cursor-pointer transition duration-300 focus:ring-2 focus:ring-red-300 hover:ring-2 hover:ring-red-300 hover:opacity-100 disabled:cursor-not-allowed disabled:opacity-80"
			hx-delete={ "/delete/" + strconv.Itoa(session.Id) }
			hx-trigger="DELETE_CHAT_SESSION_EVENT"
			x-on:click="$store.data.checkAndSetDeleteProcessing($event,'DELETE_CHAT_SESSION_EVENT')"
			x-on:click.outside="showDelete=false"
			hx-swap="outerHTML transition:true"
			hx-target="closest li"
			hx-include="[name='chatSessionId']"
			hx-confirm="Are you sure you want to delete this chat session?"
			x-bind:disabled="$store.data.deleteChatSessionProcessing"
		>
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
				<path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z" clip-rule="evenodd"></path>
			</svg>
			<span>Delete</span>
		</button>
	</li>
}

templ newChatButton() {
	<button
		hx-post="/new"
		hx-target="#ul_menu"
		hx-swap="beforeend transition:true"
		hx-trigger="ADD_NEW_CHAT_SESSION_EVENT"
		class="apperance-none outline-none cursor-pointer w-11/12 h-10 mx-auto bg-slate-200 rounded py-1 px-3 mt-4 shadow text-slate-600 font-semibold transition duration-300 focus:ring-2 focus:ring-slate-200 focus:ring-offset-2 focus:ring-offset-slate-600 hover:opacity-80 disabled:cursor-not-allowed"
		x-on:click="$store.data.checkAndSetAddNewProcessing($event,'ADD_NEW_CHAT_SESSION_EVENT')"
		x-bind:disabled="$store.data.addNewChatSessionProcessing"
	>
		<template x-if="!$store.data.addNewChatSessionProcessing">
			<span>New Chat</span>
		</template>
		<template x-if="$store.data.addNewChatSessionProcessing">
			<div class="w-full flex justify-center items-center gap-1 flex-1">
				<span class="h-1.5 w-1.5 bg-slate-600 rounded-full animate-loader-one"></span>
				<span class="h-1.5 w-1.5 bg-slate-600 rounded-full animate-loader-two"></span>
			</div>
		</template>
	</button>
}
