package components

import "htmx-gemini-chat/models"

var onceHandle = templ.NewOnceHandle()

templ bodyScript() {
	@onceHandle.Once() {
		<script type="text/javascript">  
            var ABORT_CONTROLLER=new AbortController();
            window.addEventListener("popstate",(event)=>{
                ABORT_CONTROLLER.abort();
                ABORT_CONTROLLER=new AbortController();
                Alpine.store('data').fullPageFetchProcessing=true;
                setTimeout(()=>{
                   initAlpineStore();
                },1);
            },{signal:ABORT_CONTROLLER.signal})          
            function addErrorMessage(message){
                if(document.startViewTransition){
                    document.startViewTransition(()=>{
                        Alpine.store('data').errorMessages.push(message);
                    });
                }
                else{
                    Alpine.store('data').errorMessages.push(message);
                }
                setTimeout(()=>{
                    if(document.startViewTransition){
                        document.startViewTransition(()=>{
                            Alpine.store('data').errorMessages.splice(0,1);
                        });
                    }else{
                         Alpine.store('data').errorMessages.splice(0,1);
                    }
                },3000);
            }              
            document.addEventListener('DOMContentLoaded', function() {                
                domContentLoadedEvent();                    
            });
            function domContentLoadedEvent() {                
                document.querySelectorAll('zero-md').forEach(function(el) {                                      
                    el.addEventListener('zero-md-rendered', function() {      
                        if(document.startViewTransition){
                            document.startViewTransition(()=>{
                               if(el.parentElement.parentElement.parentElement.classList.contains("hidden")){
                                    el.parentElement.parentElement.parentElement.classList.replace("hidden","flex");
                                }
                            });
                        }
                        else{                     
                             if(el.parentElement.parentElement.parentElement.classList.contains("hidden")){
                                el.parentElement.parentElement.parentElement.classList.replace("hidden","flex");
                            }
                        }
                    });                                                          
                });
            }
            document.body.addEventListener('htmx:afterSwap', function(event) {	
                const menuSrchTxt=Alpine.store('data').menuSrchTxt;       
                if(Alpine.store('data').addNewChatSessionProcessing){
                    Alpine.store('data').addNewChatSessionProcessing=false;
                    const newChatSessionId=document.getElementById("chatSessionId").value;
                    Alpine.store('data').currentSessionId=newChatSessionId;
                    if (menuSrchTxt){
                        window.history.replaceState({},document.title,window.location.origin+"/"+newChatSessionId+"?search_menu="+menuSrchTxt);                     
                    }else{
                        window.history.replaceState({},document.title,window.location.origin+"/"+newChatSessionId);                     
                    }
                } else if(Alpine.store('data').fullPageFetchProcessing){
                    Alpine.store('data').fullPageFetchProcessing=false;
                    domContentLoadedEvent();
                }
                else{                       
                    const chatSessionId=document.getElementById("chatSessionId").value;
                    Alpine.store('data').currentSessionId=chatSessionId;
                    const chatSessionIdParsed=parseInt(chatSessionId);          
                    let shouldEndWith= "/"+chatSessionId;                                                   
                    shouldEndWith += "?search_menu="+menuSrchTxt;                    
                     if(!window.location.pathname.endsWith(shouldEndWith)){
                        if(isNaN(chatSessionIdParsed) || chatSessionIdParsed==0){
                            window.history.replaceState({},document.title,window.location.origin+"?search_menu="+menuSrchTxt);                     
                        }
                        else {
                            window.history.replaceState({},document.title,window.location.origin+shouldEndWith); 
                            domContentLoadedEvent();                    
                        }  
                     }
                }            					
            });    
            document.body.addEventListener('htmx:afterRequest', function(event) {	
                if(event.detail.failed){
                    addErrorMessage('Error! Please try again later'); 
                    if(Alpine.store('data').addNewChatSessionProcessing){
                       Alpine.store('data').addNewChatSessionProcessing=false;                                                      
                    }	
                    if(Alpine.store('data').fullPageFetchProcessing){
                       Alpine.store('data').fullPageFetchProcessing=false;                                                      
                    }	                    
                }
                if(Alpine.store('data').deleteChatSessionProcessing){
                    Alpine.store('data').deleteChatSessionProcessing=false;                                                      
                }	
            });
            document.body.addEventListener('htmx:confirm', function(evt) {                
                const msg=evt.target.getAttribute('hx-confirm');
                if(msg){
                  evt.preventDefault();
                  const confirmationResult=window.confirm(msg);
                  if(confirmationResult){
                    evt.detail.issueRequest(true);
                  }
                  else if(Alpine.store('data').deleteChatSessionProcessing){
                    Alpine.store('data').deleteChatSessionProcessing=false;                                                      
                  }
                }
            });
           
            document.addEventListener('alpine:init', () => {                
                Alpine.store('data',{
                    addNewChatSessionProcessing:false,
                    deleteChatSessionProcessing:false,
                    fullPageFetchProcessing:false,                    
                    promptProcessing:false,                   
                    menuOpen:false,
                    errorMessages:[],
                    currentSessionId:document.getElementById("chatSessionId").value,
                    webSearch:false,
                    disableWebSearch:false,
                    imgGeneration:false,
                    disableImgGeneration:false,
                    disableFileUpload:false,
                    menuSrchTxt:'',
                    theme:'light',
                    init(){                       
                       initAlpineStore();
                    },
                    openMenu(){                 
                        if (document.startViewTransition){
                            document.startViewTransition(()=>{
                                this.menuOpen=true;
                                htmx.process(document.getElementsByTagName('aside')[0]);
                            });
                        } else{       
                            this.menuOpen=true;
                            htmx.process(document.getElementsByTagName('aside')[0]);
                        }
                    },
                    closeMenu(){    
                         if (document.startViewTransition){
                            document.startViewTransition(()=>{
                                this.menuOpen=false;
                            });
                         } else{
                            this.menuOpen=false;
                         }                  
                    },
                    sendFullPageFetchEvent(ev,eventNameToDispatch){
                        const currentTarget=ev?.currentTarget;
                        ev.preventDefault();          
                        if( currentTarget?.href &&
                            currentTarget.href.endsWith("/"+this.currentSessionId))
                        {
                            return;
                        }                
                        this.fullPageFetchProcessing=true;
                        this.closeMenu();                        
                        if(eventNameToDispatch){                             
                            currentTarget.dispatchEvent(new Event(eventNameToDispatch));                            
                        }                        
                        
                    },
                    checkAndSetAddNewProcessing(ev,eventNameToDispatch){
                        ev.preventDefault();
                        if(!this.addNewChatSessionProcessing){
                            this.addNewChatSessionProcessing=true;
                            if(eventNameToDispatch){
                                ev.currentTarget.dispatchEvent(new Event(eventNameToDispatch));
                            }
                        }
                    },
                    checkAndSetDeleteProcessing(ev,eventNameToDispatch){
                        ev.preventDefault();
                        if(!this.deleteChatSessionProcessing){
                            this.deleteChatSessionProcessing=true;
                            if(eventNameToDispatch){
                                ev.currentTarget.dispatchEvent(new Event(eventNameToDispatch));
                            }
                        }
                    },       
                    setTheme(val){
                        if(document.startViewTransition){
                            document.startViewTransition(()=>{
                                this.theme=val;                                
                            });
                        }
                        else{
                            this.theme=val;                            
                        }
                        localStorage.setItem("theme",val);
                    }             
                });
                Alpine.data('chatInput',()=>({
                    currentMessageId:-1,
                    prompt:"",
                    base64:"",
                    fileName:"",  
                    abortController:new AbortController(),                             
                    init(){
                        this.$watch('$store.data.fullPageFetchProcessing',(val)=>{
                            if(val){
                                this.checkAndAbortStreaming();
                            }
                        }),
                        this.$watch('$store.data.addNewChatSessionProcessing',(val)=>{
                            if(val){
                                this.checkAndAbortStreaming();
                            }
                        }),
                        this.$watch('$store.data.deleteChatSessionProcessing',(val)=>{                            
                            if(val){                                
                                if(window.location.pathname.endsWith("/"+this.$store.data.currentSessionId)){
                                    this.checkAndAbortStreaming();
                                }else{
                                    const firstMenu=document.getElementsByClassName("menu")[0]
                                    if(firstMenu && firstMenu.id.endsWith("_"+chatSessionId)){                                        
                                        this.checkAndAbortStreaming();
                                    }
                                }
                            }
                        })
                    },                          
                    checkAndAbortStreaming(){
                        if(this.$store.data.promptProcessing){
                            this.abortController.abort();
                            this.abortController=new AbortController();
                            this.setProcessing(false);
                        }
                    },             
                    setProcessing(val){
                        if(document.startViewTransition){
                            document.startViewTransition(()=>{
                                this.$store.data.promptProcessing=val;                                
                            })
                        }
                        else{
                            this.$store.data.promptProcessing=val;                            
                        }
                    },    
                    validateFileAndSetData(file){
                        const reader = new FileReader();
                        reader.addEventListener("load",() => {
                            if (typeof reader.result == "string") {
                                if(reader.result.startsWith("data:image/") 
                                    || reader.result.startsWith("data:application/pdf")){
                                    this.base64=reader.result;
                                    this.fileName=file.name;
                                }else{
                                    addErrorMessage('Invalid file type. Please upload an file with type (JPG, PNG, WEBP, PDF)')
                                }
                            }else{
                                addErrorMessage('Invalid file type. Please upload an file with type (JPG, PNG, WEBP, PDF)')
                            }
                        });
                        if (file.size <= 1024 * 1024) {//1 mb
                            reader.readAsDataURL(file);
                        }else{
                            addErrorMessage('File size exceeds the limit of 1 MB');                                 
                        }
                    },
                    checkAndHandlePasteForImageAndPdf(ev){
                        const items = (ev.clipboardData || ev.originalEvent.clipboardData).items;
                        for (const item of items) {
                            if (item.kind === 'file') {
                                const file = item.getAsFile();
                                this.validateFileAndSetData(file);
                                break;
                            }
                        }
                    },                                    
                    imageOrPdfFileInputChanged(ev){
                        const fl=ev.currentTarget.files[0];
                        this.validateFileAndSetData(fl);
                    },
                    clearFileInput(){         
                        if(document.startViewTransition){
                            document.startViewTransition(()=>{
                                this.base64='';
                                this.fileName=''; 
                            });
                        }               
                        else{
                            this.base64='';
                            this.fileName=''; 
                        }                        
                        this.$refs.imageOrPdfInput.value=''
                    },
                    async submitMessage(ev,idToAppendData){
                        if(!ev.shiftKey && this.prompt.trim()!='' && !this.$store.data.promptProcessing){
                            this.setProcessing(true);
                            const fm=new FormData();
                            fm.append("prompt",this.prompt);
                            fm.append("base64",this.base64);
                            fm.append("fileName",this.fileName);
                            fm.append("chatSessionId",this.$store.data.currentSessionId);   
                            fm.append("webSearch",this.$store.data.webSearch);    
                            fm.append("imgGeneration",this.$store.data.imgGeneration);  
                            fm.append("menuSrchTxt",this.$store.data.menuSrchTxt);                                               
                            try{
                                let decodedValueMerged ="";                                
                                const resp= await fetch('/send',{
                                    body:fm,
                                    method:"POST",  
                                    signal:this.abortController.signal,                              
                                });                        
                                if(!resp.ok){
                                    this.setProcessing(false);
                                    if (resp.status==400){
                                        addErrorMessage('Bad request');
                                    } else{
                                        addErrorMessage('Error! Please try again later');     
                                    }
                                    return;
                                }                                   
                                const reader = resp.body.getReader();
                                const textDecoder=new TextDecoder();        
                                let imageDataProcessing=false;                                                         
                                while (true){
                                    const { done, value } = await reader.read();
                                    if(done){//streaming end
                                        this.setProcessing(false);
                                        this.currentMessageId=-1;
                                        decodedValueMerged="";
                                        break;
                                    }
                                    this.$store.data.disableImgGeneration=true;
                                    if(this.$store.data.imgGeneration){
                                        this.$store.data.webSearch=false;
                                        this.$store.data.disableWebSearch=false;                                        
                                    }
                                    const decodedValue = textDecoder.decode(value);     
                                    decodedValue.split('event: ').forEach((decodedItem)=>{
                                        if(decodedItem.trim()==''){
                                            return;
                                        }
                                        if(decodedItem.includes("END\n\n")){
                                            this.setProcessing(false);
                                            this.currentMessageId=-1;
                                            decodedValueMerged="";                                                                                
                                            return;
                                        }
                                        else if(decodedItem.includes("ERROR\n\n")){
                                            this.setProcessing(false);
                                            this.currentMessageId=-1;
                                            decodedValueMerged="";                                        
                                            addErrorMessage('Error! Please try again later');   
                                            document.getElementById("promptProcessingIndicator")?.remove();  
                                            return;
                                        }
                                        else if(decodedItem.includes("GEMINI_MESSAGE_TEMPLATE") || 
                                            decodedItem.includes("USER_MESSAGE_TEMPLATE") 
                                            ){ //streamed output is a new user message item or new gemini message item                                        
                                            decodedItem=decodedItem.replace("GEMINI_MESSAGE_TEMPLATE\ndata: ","").replace("USER_MESSAGE_TEMPLATE\ndata: ","").trimEnd();
                                            this.currentMessageId = createNewMessageUIAndGetMessageId(idToAppendData,decodedItem);                                                                                 
                                            decodedValueMerged="";                                           
                                            if(this.prompt!=''){ //streamed output is user message 
                                                this.appendPromptAndImageToUserMessageTemplate()                                                                   
                                            }
                                            document.getElementsByTagName('main')[0].scrollTop=document.getElementsByTagName('main')[0].scrollHeight+100;                         
                                        }
                                        else if(decodedItem.includes("MENU_ITEM")){ //streamed output is new menu item or existing menu title change 
                                            decodedItem=decodedItem.replace("MENU_ITEM\ndata: ","").trimEnd();
                                            upsertMenuUIWithMenuItem(decodedItem);  
                                        }
                                        else if(decodedItem.includes("CHAT_SESSION_ID_INPUT")){ //chat session id intput
                                            decodedItem=decodedItem.replace("CHAT_SESSION_ID_INPUT\ndata: ","").trimEnd();
                                            document.getElementById("chatSessionId").outerHTML=decodedItem;  
                                            this.$store.data.currentSessionId=document.getElementById("chatSessionId").value; //update current session id in store                                      
                                            window.history.replaceState({},document.title,window.location.origin+"/"+this.$store.data.currentSessionId); 
                                        }
                                        else if(decodedItem.includes("HELPER_TEXT")){
                                            decodedItem=decodedItem.replace("HELPER_TEXT\ndata: ","").trimEnd();
                                            document.getElementById("helper").outerHTML=decodedItem;  
                                        }                   
                                        else if(decodedItem.includes("IMAGE")){                                            
                                            document.getElementById("promptProcessingIndicator")?.remove();
                                            decodedItem=decodedItem.replace("IMAGE\ndata: ","").trimEnd();
                                            decodedValueMerged += decodedItem;
                                            imageDataProcessing=true;
                                            prependFileDataToMessage(this.currentMessageId,decodedValueMerged,"output.png");
                                        }                     
                                        else if(decodedItem.includes("MESSAGE")){ //streamed output is gemini message that needs to be appended to existing message                                         
                                            document.getElementById("promptProcessingIndicator")?.remove();
                                            decodedItem=decodedItem.replace("MESSAGE\ndata: ",""); //no trim end required , if added will remove \n coming in data also
                                            decodedValueMerged += decodedItem;                                                 
                                            document.getElementById('message_'+this.currentMessageId).innerHTML = decodedValueMerged;   
                                        }
                                        else if(imageDataProcessing == true){
                                            decodedValueMerged += decodedItem;
                                            updateImageSrc(this.currentMessageId,decodedValueMerged);
                                        }              
                                    });                                                                                                                                                                                                                                                                          
                                }
                        
                            }
                            catch(err){
                                console.log(err);
                                this.setProcessing(false);
                                if (err?.name !== 'AbortError') {
                                    addErrorMessage('Error! Please try again later');     
                                    document.getElementById("promptProcessingIndicator")?.remove();
                                }
                            }                            
                        }
                    },
                    appendPromptAndImageToUserMessageTemplate(){                    
                        document.getElementById('message_'+this.currentMessageId).innerHTML = this.prompt;  
                        this.prompt='';
                        if(this.base64!=""){// streamed output is based on image input so prepend Img
                            prependFileDataToMessage(this.currentMessageId,this.base64,this.fileName)
                            this.clearFileInput();
                        } 
                    }                                  
                }));                               
            });   
                    
            function initAlpineStore(){
                Alpine.store('data').currentSessionId=document.getElementById("chatSessionId").value;
                Alpine.store('data').fullPageFetchProcessing=false;
                Alpine.store('data').webSearch = document.getElementsByName("webSearch")[0].value=='true';
                Alpine.store('data').imgGeneration=document.getElementsByName("imgGeneration")[0].value=='true';
                new URLSearchParams(window.location.search).forEach((value,key)=>{
                    if(key==='search_menu'){                        
                        Alpine.store('data').menuSrchTxt=value;
                    }
                });
                if (Alpine.store('data').imgGeneration){
                    Alpine.store('data').disableWebSearch=true;
                }
                if(document.getElementById('section').children.length>0){
                    Alpine.store('data').disableImgGeneration=true;
                }
                let theme = "light";
                if (localStorage.getItem("theme") != null
                    && ["light","dark"].includes(localStorage.getItem("theme")))
                {
                    theme = localStorage.getItem("theme");
                } else if (window.matchMedia("(prefers-color-scheme: dark)").matches){                    
                    theme = "dark"
                }
                Alpine.store('data').theme=theme;
            }
            function createNewMessageUIAndGetMessageId(idToAppendHTML,messageUI){                
                const divEl=document.createElement("div");
                document.getElementById(idToAppendHTML).appendChild(divEl);
                divEl.outerHTML=messageUI;                                
                const strtIdx=messageUI.indexOf("message_");
                if (strtIdx==-1){                   
                    return -1;
                }
                const messageId=messageUI.substring(strtIdx+"message_".length,messageUI.indexOf('"',strtIdx));                
                return messageId;
            }
            function prependFileDataToMessage(messageId,base64,fileName){
               const elToPrepend= document.getElementById("message_"+messageId).parentElement.parentElement.parentElement;
               if (fileName.toLowerCase().endsWith(".pdf")){
                    const pEl = document.createElement("p");
                    pEl.classList.add("font-semibold", "flex", "gap-2","truncate", "text-lime-700", "dark:text-lime-500");
                    pEl.textContent=fileName
                    elToPrepend.prepend(pEl);
               } else{
                    const imgEl=document.createElement("img")
                    imgEl.classList.add("w-full", "h-full")
                    imgEl.src=base64   
                    elToPrepend.prepend(imgEl);              
               }
            }
            function updateImageSrc(messageId,base64){
                const parent= document.getElementById("message_"+messageId).parentElement.parentElement.parentElement;
                parent.children[0].src=base64
            }
            function upsertMenuUIWithMenuItem(menuItemUI){
                const strtIdx=menuItemUI.indexOf("li_");
                const elId=menuItemUI.substring(strtIdx,menuItemUI.indexOf('"',strtIdx));
                const el=document.getElementById(elId);
                if(el){//title change
                    if(document.startViewTransition){
                        document.startViewTransition(()=>{
                            el.outerHTML=menuItemUI;
                        });
                    }else{
                        el.outerHTML=menuItemUI;
                    }
                }else{//new menu item
                    const liEl=document.createElement("li");
                    document.getElementById('ul_menu').appendChild(liEl);
                    liEl.outerHTML=menuItemUI;
                    liEl.classList.remove('animate-scale-y');                                        
                }   
                htmx.process(document.getElementById(elId));
            }           
        </script>
		@setWebSearchAndImgGenerationScript(models.Section{IsOob: false, WebSearch: true, ImageGeneration: true}, false)
	}
}

templ setWebSearchAndImgGenerationScript(model models.Section, disableImgGeneration bool) {
	switch  {
		case model.IsOob && model.WebSearch:
			<script type="text/javascript" id="webSearchSetScript" hx-swap-oob="true">
                (()=>{
                    Alpine.store('data').webSearch=true
                    Alpine.store('data').disableWebSearch=false
                    Alpine.store('data').imgGeneration=false
                    Alpine.store('data').disableImgGeneration=true                    
                })()
            </script>
		case model.IsOob && !model.WebSearch && model.ImageGeneration && disableImgGeneration:
			<script type="text/javascript" id="webSearchSetScript" hx-swap-oob="true">
                (()=>{
                    Alpine.store('data').webSearch=false
                    Alpine.store('data').disableWebSearch=true
                    Alpine.store('data').imgGeneration=true                    
                    Alpine.store('data').disableImgGeneration=true
                })()
            </script>
		case model.IsOob && !model.WebSearch && model.ImageGeneration && !disableImgGeneration:
			<script type="text/javascript" id="webSearchSetScript" hx-swap-oob="true">
                (()=>{
                    Alpine.store('data').webSearch=false
                    Alpine.store('data').disableWebSearch=true
                    Alpine.store('data').imgGeneration=true                    
                    Alpine.store('data').disableImgGeneration=false
                })()
            </script>
		case model.IsOob && !model.WebSearch && !model.ImageGeneration && disableImgGeneration:
			<script type="text/javascript" id="webSearchSetScript" hx-swap-oob="true">
                (()=>{
                    Alpine.store('data').webSearch=false
                    Alpine.store('data').disableWebSearch=false
                    Alpine.store('data').imgGeneration=false                    
                    Alpine.store('data').disableImgGeneration=true
                })()
            </script>
		case model.IsOob && !model.WebSearch && !model.ImageGeneration && !disableImgGeneration:
			<script type="text/javascript" id="webSearchSetScript" hx-swap-oob="true">
                (()=>{
                    Alpine.store('data').webSearch=false
                    Alpine.store('data').disableWebSearch=false
                    Alpine.store('data').imgGeneration=false                    
                    Alpine.store('data').disableImgGeneration=false
                })()
            </script>
		case !model.IsOob:
			<script type="text/javascript" id="webSearchSetScript"></script>
	}
}
