package components

import "datastar-portfolio/models"
import "strings"

templ Projects(data []models.DemoItem, id string) {
	@layout() {
		<main
			class="py-2 px-4 flex flex-col items-center justify-center gap-2 lg:py-10 xl:py-20"
			data-signals={ `{id:'` + id + `',showErrorMessage:false,errorMessage:'Error.Please try again later',}` }
			data-init="@get('/sse', {openWhenHidden: true})"
			data-on:datastar-fetch__transition="if(evt.detail.type === 'retries-failed'){$errorMessage = 'Failed to connect to server. Please try refreshing the page.'; $showErrorMessage = true}"
		>
			<section class="w-full max-w-4xl flex flex-col gap-2 py-2 px-4 pb-10">
				<p class="text-3xl font-semibold opacity-0 animate-fade-in">Projects</p>
				<p class="text-lg opacity-0 animate-fade-in-2">
					A collection of things I have built and experiments I have shipped.					
				</p>
			</section>
			<section class="w-full max-w-4xl flex flex-col gap-10 py-2 px-4">
				@search()
				@ProjectCardCollection(data)
			</section>
		</main>
	}
}

templ search() {
	<div
		class="flex w-full flex-col gap-4 "
		data-signals="{serviceFilter:[],filtering:false}"
		data-on-signal-patch__debounce.600ms="@post('/search')"
		data-on-signal-patch-filter="{include:/srchTxt|serviceFilter/}"
	>
		<div class="bg-white flex gap-2 w-full items-center py-1 px-3 transition duration-300 rounded-md border border-slate-300  focus-within:border-blue-600 focus-within:ring-2 focus-within:ring-slate-600 focus-within:ring-offset-2 focus-within:ring-offset-white">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
				<path fill-rule="evenodd" d="M10.5 3.75a6.75 6.75 0 1 0 0 13.5 6.75 6.75 0 0 0 0-13.5ZM2.25 10.5a8.25 8.25 0 1 1 14.59 5.28l4.69 4.69a.75.75 0 1 1-1.06 1.06l-4.69-4.69A8.25 8.25 0 0 1 2.25 10.5Z" clip-rule="evenodd"></path>
			</svg>
			<input
				type="text"
				class="appearance-none outline-none flex-1 placeholder:text-slate-400"
				placeholder="Search projects,technologies..."
				data-bind="srchTxt"
			/>
		</div>
		<div class="flex flex-wrap gap-2 items-center text-sm">
			<button
				class="appearance-none outline-none cursor-pointer rounded-full px-3 py-1 transition duration-300 border hover:opacity-80 focus:ring-2 focus:ring-offset-2 focus:ring-offset-white"
				data-class="{'bg-black text-white border-black focus:ring-black':$serviceFilter.includes('All'),'border-gray-600 focus:ring-gray-600 ':!$serviceFilter.includes('All')}"
				data-on:click="$serviceFilter.includes('All')?$serviceFilter=$serviceFilter.filter(el=>el!='All'):$serviceFilter=['All']"
			>
				All
			</button>
			<button
				class="appearance-none outline-none cursor-pointer rounded-full px-3 py-1 transition duration-300 border hover:opacity-80 focus:ring-2 focus:ring-offset-2 focus:ring-offset-white"
				data-class="{'bg-black text-white border-black focus:ring-black':$serviceFilter.includes('Railway'),'border-gray-600 focus:ring-gray-600 ':!$serviceFilter.includes('Railway')}"
				data-on:click={ `$serviceFilter.includes('Railway')?$serviceFilter=$serviceFilter.filter(el=>el!='Railway'):
								($serviceFilter=$serviceFilter.filter(el=>el!='All')) && $serviceFilter.push('Railway')` }
			>
				Railway
			</button>
			<button
				class="appearance-none outline-none cursor-pointer rounded-full px-3 py-1 transition duration-300 border hover:opacity-80 focus:ring-2 focus:ring-offset-2 focus:ring-offset-white"
				data-class="{'bg-black text-white border-black focus:ring-black':$serviceFilter.includes('Cloudflare'),'border-gray-600 focus:ring-gray-600 ':!$serviceFilter.includes('Cloudflare')}"
				data-on:click={ `$serviceFilter.includes('Cloudflare')?$serviceFilter=$serviceFilter.filter(el=>el!='Cloudflare'):
								($serviceFilter=$serviceFilter.filter(el=>el!='All')) && $serviceFilter.push('Cloudflare')` }
			>
				Cloudflare
			</button>
			<button
				class="appearance-none outline-none cursor-pointer rounded-full px-3 py-1 transition duration-300 border hover:opacity-80 focus:ring-2 focus:ring-offset-2 focus:ring-offset-white"
				data-class="{'bg-black text-white border-black focus:ring-black':$serviceFilter.includes('Netlify'),'border-gray-600 focus:ring-gray-600 ':!$serviceFilter.includes('Netlify')}"
				data-on:click={ `$serviceFilter.includes('Netlify')?$serviceFilter=$serviceFilter.filter(el=>el!='Netlify'):
								($serviceFilter=$serviceFilter.filter(el=>el!='All')) && $serviceFilter.push('Netlify')` }
			>
				Netlify
			</button>
			<button
				class="appearance-none outline-none cursor-pointer rounded-full px-3 py-1 transition duration-300 border hover:opacity-80 focus:ring-2 focus:ring-offset-2 focus:ring-offset-white"
				data-class="{'bg-black text-white border-black focus:ring-black':$serviceFilter.includes('Codepen'),'border-gray-600 focus:ring-gray-600 ':!$serviceFilter.includes('Codepen')}"
				data-on:click={ `$serviceFilter.includes('Codepen')?$serviceFilter=$serviceFilter.filter(el=>el!='Codepen'):
								($serviceFilter=$serviceFilter.filter(el=>el!='All')) && $serviceFilter.push('Codepen')` }
			>
				Codepen
			</button>
		</div>
		<p class="bg-red-100 text-red-700 font-semibold animate-fade-in py-1 px-3 rounded-md" data-show="$showErrorMessage" data-text="$errorMessage"></p>
	</div>
}

templ ProjectCardCollection(data []models.DemoItem) {
	<div class="flex flex-col gap-10 relative" id="projects" style="view-transition-name:projects-container">
		for _, item := range data {
			@projectCard(item)
		}
		<div class="absolute top-0 left-0 bg-white/80 w-full h-full py-2 px-4 pt-10 animate-pulse" data-show="$filtering">
			// <div class="flex gap-3 items-center ml-[50%]">
			// 	<span class="bg-teal-600 w-2 h-2 animate-loader rounded-full"></span>
			// 	<span class="bg-teal-600 w-2 h-2 animate-loader-1 rounded-full"></span>
			// 	<span class="bg-teal-600 w-2 h-2 animate-loader-2 rounded-full"></span>
			// </div>
		</div>
	</div>
}

templ projectCard(data models.DemoItem) {
	{{ splittedTags := strings.Split(data.Tags, ",") }}
	<div
		class="flex flex-col gap-4 opacity-0 animate-fade-in-2"
	>
		<img src={ data.ImgSrc } alt={ data.Title + "Screenshot" } class="cursor-pointer rounded-lg transition duration-300 hover:scale-[1.02]"/>
		<div class="flex justify-between items-center gap-2">
			<div class="flex items-center gap-2">
				<p class="font-semibold">{ data.Title }</p>
				<span class="text-sm border border-gray-300  px-3 py-1 rounded-full text-slate-500">{ data.Service }</span>
			</div>
			<div class="flex gap-2 items-center">
				<a
					target="_blank"
					href={ data.Url }
					class="appearance-none outline-none cursor-pointer rounded-full p-1 transition duration-300 focus:bg-slate-100 hover:bg-slate-100 focus:ring-2 focus:ring-blue-600"
				>
					<svg xmlns="http://www.w3.org/2000/svg" class="size-5" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-square-arrow-out-up-right-icon lucide-square-arrow-out-up-right"><path d="M21 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h6"></path><path d="m21 3-9 9"></path><path d="M15 3h6v6"></path></svg>
				</a>
			</div>
		</div>
		<p class="text-slate-500">{ data.Description }</p>
		<div class="flex flex-wrap items-center gap-2">
			for _, tag := range splittedTags {
				<span class="text-sm border border-gray-300  px-3 py-1 rounded-full text-slate-500">{ tag }</span>
			}
		</div>
	</div>
}
