package components

import (
	"datastar-stock/components/shared"
	"datastar-stock/models"
	"strconv"
)

templ Companies(count int) {
	@layout() {
		@header("companies")
		<div class="w-11/12 mx-auto flex items-center justify-start gap-2 py-2">
			<div class="py-4 px-6 rounded h-24 w-64  bg-white flex flex-col items-start gap-2">
				<div class="flex justify-between items-center text-slate-600 w-full">
					<p class="font-semibold">Total Companies</p>
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
						<path fill-rule="evenodd" d="M4.5 2.25a.75.75 0 0 0 0 1.5v16.5h-.75a.75.75 0 0 0 0 1.5h16.5a.75.75 0 0 0 0-1.5h-.75V3.75a.75.75 0 0 0 0-1.5h-15ZM9 6a.75.75 0 0 0 0 1.5h1.5a.75.75 0 0 0 0-1.5H9Zm-.75 3.75A.75.75 0 0 1 9 9h1.5a.75.75 0 0 1 0 1.5H9a.75.75 0 0 1-.75-.75ZM9 12a.75.75 0 0 0 0 1.5h1.5a.75.75 0 0 0 0-1.5H9Zm3.75-5.25A.75.75 0 0 1 13.5 6H15a.75.75 0 0 1 0 1.5h-1.5a.75.75 0 0 1-.75-.75ZM13.5 9a.75.75 0 0 0 0 1.5H15A.75.75 0 0 0 15 9h-1.5Zm-.75 3.75a.75.75 0 0 1 .75-.75H15a.75.75 0 0 1 0 1.5h-1.5a.75.75 0 0 1-.75-.75ZM9 19.5v-2.25a.75.75 0 0 1 .75-.75h4.5a.75.75 0 0 1 .75.75v2.25a.75.75 0 0 1-.75.75h-4.5A.75.75 0 0 1 9 19.5Z" clip-rule="evenodd"></path>
					</svg>
				</div>
				<p class="text-xl font-semibold text-menu">
					{ strconv.Itoa(count) }
				</p>
			</div>
		</div>
		<div class="w-11/12 mx-auto py-2 px-4 bg-white rounded md:py-4 md:px-6">
			@shared.SearchCompanyInput("companies", "")
			@shared.CompaniesTable(make([]models.CompanyFromDb, 0), "companies", "")
		</div>
	}
}
