package components

import "datastar-stock/models"
import "strconv"

templ EmailTemplate(priceData []models.EmailPopularsPriceData) {
	{{ bodyStyle := "font-family:ui-sans-serif, system-ui, sans-serif, \"Apple Color Emoji\",\"Segoe UI Emoji\", \"Segoe UI Symbol\", \"Noto Color Emoji\"" }}
	<html>
		<body style={ bodyStyle }>
			<span
				style="font-size:20px;line-height:1.4;font-weight:600;margin-bottom:0.5rem;color:#006400"
			>Daily price changes</span>
			<hr style="background-color:#8A2BE2"/>
			<table style="width:100%;text-align:left">
				<thead>
					<tr>
						<th style="padding-inline:1rem;padding-block:0.5rem;font-size:18px;line-height:1.55;color:#8A2BE2;">Ticker</th>
						<th
							style="padding-inline:1rem;padding-block:0.5rem;font-size:18px;line-height:1.55;color:#8A2BE2;"
						>Price</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					for _, item := range priceData {
						<tr>
							<td
								style="padding-inline:1rem;padding-block:0.5rem;"
							>
								<span
									style="color:#4682B4;font-weight:600"
								>{ item.Ticker }</span><span>&nbsp;</span>
								<br/>
								<span style="color:#62748e">Date: { item.Date }</span><span>&nbsp;</span>
							</td>
							<td
								style="padding-inline:1rem;padding-block:0.5rem;"
							>
								<span
									style="color:#62748e;font-weight:600;"
								>{ strconv.FormatFloat(item.Price,'f',2,64) }</span><span>&nbsp;</span>
								<br/>
								<span style="color:#62748e">Prev: { strconv.FormatFloat(item.PrevPrice,'f',2,64) }</span><span>&nbsp;</span>
							</td>
							<td
								style="padding-inline:1rem;padding-block:0.5rem;"
							>
								if item.IsIncrease {
									<span style="color:#00a63e;font-weight:600;" style="width:24px;height:24px;">
										↑									
									</span>
								} else {
									<span style="font-weight:600;color:#e7000b;" style="width:24px;height:24px;">
										↓									
									</span>
								}
							</td>
						</tr>
					}
				</tbody>
			</table>
		</body>
	</html>
}
