package components

templ home(location string) {
	@layout() {
		{{ popularsClass := "text-slate-700" }}
		{{ recentClass := "text-slate-700" }}
		{{if location == "populars" {
	popularsClass = "shadow text-menu font-semibold"
}
		}}
		{{if location == "recent" {
	recentClass = "shadow text-menu font-semibold"
}
		}}
		@header("home")
		<div class="relative flex flex-col">
			<div class="w-full flex items-center justify-start gap-2 pl-4 lg:pl-0 lg:justify-center">
				<a
					class={ "appearance-none outline-none cursor-pointer py-1 px-3 transition duration-300 rounded-lg text-lg bg-white focus:ring-2 focus:ring-menu hover:opacity-80 md:py-2 md:px-4 " + popularsClass }
					href="/home/populars"
					style="view-transition-name:populars-menu"
					data-on-click="window.location.href.endsWith('/home/populars')?evt.preventDefault() : evt.stopPropagation()"
				>
					Your Populars
				</a>
				<a
					class={ "appearance-none outline-none cursor-pointer py-1 px-3 transition duration-300 rounded-lg text-lg bg-white focus:ring-2 focus:ring-menu hover:opacity-80 md:py-2 md:px-4 " + recentClass }
					href="/home/recent"
					style="view-transition-name:recent-menu"
					data-on-click="window.location.href.endsWith('/home/recent')?evt.preventDefault() : evt.stopPropagation()"
				>
					Watchlist
				</a>
			</div>
			{ children... }
		</div>
	}
}
