package components

import "datastar-stock/components/shared"
import "strings"
import "datastar-stock/models"

templ Populars(items []models.TickerCard) {
	@home("populars") {
		@PopularsContainers(items, true)
	}
}

templ PopularsContainers(items []models.TickerCard, loadData bool) {
	{{ tickers := make([]string, len(items)) }}
	{{for idx, item := range items {
	tickers[idx] = item.Ticker
}
	}}
	{{ tickersForRequest := strings.Join(tickers, "||") }}
	if loadData {
		<div
			class="py-2 px-4 grid grid-cols-1 gap-2 mt-2 lg:gap-4 lg:grid-cols-2"
			data-on-load={ "@get('/data/multiple/" + tickersForRequest + "')" }
			id="populars"
		>
			@shared.Cards(items, "populars")
		</div>
	} else {
		<div
			class="py-2 px-4 grid grid-cols-1 gap-2 mt-2 lg:gap-4 lg:grid-cols-2"
			id="populars"
		>
			@shared.Cards(items, "populars")
		</div>
	}
}

templ PopularsError() {
	@home("populars") {
		<div class="py-2 px-4 grid grid-cols-1 gap-2 mt-2 lg:gap-4 lg:grid-cols-2">
			@shared.CardError()
		</div>
	}
}
