package components

import "datastar-stock/components/shared"
import "strings"

templ Populars(tickers []string) {
	{{ tickersForRequest := strings.Join(tickers, "||") }}
	@home("populars") {
		<div
			class="py-2 px-4 grid grid-cols-1 gap-2 mt-2 lg:gap-4 lg:grid-cols-2"
			data-on-load={ "@get('/data/multiple/" + tickersForRequest + "')" }
		>
			@shared.Cards(tickers)
		</div>
	}
}

templ PopularsError() {
	@home("populars") {
		<div class="py-2 px-4 grid grid-cols-1 gap-2 mt-2 lg:gap-4 lg:grid-cols-2">
			@shared.CardError()
		</div>
	}
}
