@import "tailwindcss";


.animate-slide-down {
    animation: slide-down 2s var(--ease-spring-3);
}

.animate-spin-2 {
    animation: spin-2 2s infinite var(--ease-spring-3);
}

@keyframes spin-2 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.send-icon,
.delete-icon {
    width: 0.5rem;
    height: 0.5rem;
}