package components

templ LoginPage() {
	@layout() {
		<main class="h-dvh w-dvw overflow-x-hidden bg-gradient-to-br from-slate-100 to-slate-50 via-slate-100">
			<section class="w-full h-full flex flex-col gap-1 items-center justify-center" style="view-transition-name:section">
				Login
			</section>
		</main>
	}
}
