package components

templ layout() {
	<!DOCTYPE html>
	<html class="w-full h-full">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Claude Chat</title>
			<meta name="description" content="Simple AI Chat App to talk to Claude AI"/>
			<link rel="icon" href="/assets/images/favicon.ico"/>
			<link rel="stylesheet" href="/assets/css/styles.css"/>
			<link rel="stylesheet" href="/assets//css//openprops.min.css"/>
		</head>
		<body class="w-full h-full overflow-x-hidden overflow-y-hidden bg-background font-(family-name:--font-geometric-humanist) relative text-slate-800">
			{ children... }
			<script src="/assets/js/datastar.min.js" type="module"></script>
			@zeroMdScript()
		</body>
	</html>
}
