package components

import "datastar-claude-chat/models"

templ Main(messages []models.ChatConversation) {
	@layout() {
		<main
			class="w-full h-full flex flex-col items-center pt-3 pb-48 overflow-x-hidden overflow-y-auto scroll-smooth scrollbar-thin scrollbar-track-white  scrollbar-thumb-primary"
			data-signals="{showErrorMessage:false,errorMessage:'Error. Please try again later.'}"
		>
			<h1 class="text-2xl font-semibold text-primary">Claude Chat</h1>
			<section id="messages" class="flex flex-col gap-2 pt-10 mx-auto w-11/12 lg:w-10/12 xl:w-9/12">
				for _, msg := range messages {
					@Message(msg.Id, msg.Message, msg.Sender)
				}
			</section>
			@inputAndError()
		</main>
	}
}
