package components

import (
	"datastar-web-learnings/components/scripts"
	"datastar-web-learnings/models"
)

templ layout(authConfig models.FirebaseAuthConfig) {
	<!DOCTYPE html>
	<html lang="en" class="w-full h-full">
		<head>
			<title>Tech Tube</title>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<meta name="description" content="Collection of You Tube videos regarding front end frameworks"/>
			<link rel="preconnect" href="https://fonts.googleapis.com"/>
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
			<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"/>
			<link rel="icon" type="image/svg" href="/assets/images/favicon.svg"/>
			<link href="/assets/css/styles.css" rel="stylesheet"/>
			<link href="/assets/css/open-props.min.css" rel="stylesheet"/>
		</head>
		<body
			class="w-full h-full font-roboto bg-background text-primary relative overflow-x-hidden scrollbar-thin scrollbar-thumb-secondary scrollbar-track-background-2"
			data-signals="{_showLogin: false}"
			data-class="{ 'overflow-y-hidden': $_showLogin, 'overflow-y-auto': !$_showLogin }"
		>
			{ children... }
			@login()
			<script type="module" src="/assets/scripts/data-star.min.js"></script>
			@scripts.FocusTrap()
			@scripts.AddYTPlayerScript()
			@scripts.YTPlayer()
			<script type="module">
			    import { initializeApp } from 'https://www.gstatic.com/firebasejs/12.5.0/firebase-app.js'
				import { getAuth,signInWithEmailAndPassword,onAuthStateChanged } from 'https://www.gstatic.com/firebasejs/12.5.0/firebase-auth.js'
				
				const firebaseApp=initializeApp({apiKey: {{ authConfig.ApiKey }}, 
									authDomain: {{ authConfig.Domain }}, 
									});
  				window.AUTH=getAuth(firebaseApp);
				window.LOGIN=signInWithEmailAndPassword;
				onAuthStateChanged(window.AUTH,(user)=>{
					window.dispatchEvent(new Event('firebase-loaded'));
				});
			</script>
		</body>
	</html>
}
