package components

import (
	"strconv"
	"strings"
)

func replaceSpecialCharsVideoId(videoId string) string {
	return strings.ReplaceAll(videoId, "-", "")
}

templ Main() {
	@layout() {
		<header class="py-2 px-4 border-b border-secondary/20">
			<div class="flex gap-2">
				<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-square-play-icon lucide-square-play"><rect x="3" y="3" width="18" height="18" rx="2"></rect><path d="M9 9.003a1 1 0 0 1 1.517-.859l4.997 2.997a1 1 0 0 1 0 1.718l-4.997 2.997A1 1 0 0 1 9 14.996z"></path></svg>
				<div class="flex flex-col">
					<span class="text-2xl font-semibold">Tech Tube</span>
					<span class="text-secondary text-sm">My curated technology video collection</span>
				</div>
			</div>
		</header>
		<main
			data-on-load="@get('/data/0')"
			class="px-4 py-2 relative overflow-x-hidden overflow-y-hidden"
			data-signals="{currentlyPlayingVideoId:null}"
			data-on-video-playing="$currentlyPlayingVideoId=evt.detail.videoId;"
		>
			<section class="grid grid-cols-1 gap-3 justify-normal md:grid-cols-2 xl:grid-cols-3"></section>
			@loader("$_loading")
		</main>
	}
}

templ LoadMore(offset int) {
	<div
		id="loadMore"
		data-indicator="_loading"
		data-on-intersect__once={ "@get('/data/" + strconv.Itoa(offset) + "')" }
	></div>
}

templ loader(dataShowSignal string) {
	<div class="flex gap-2 items-center justify-center py-10" data-show={ dataShowSignal }>
		<div
			class="w-2 h-2 bg-secondary rounded-full animate-loader"
			style="animation-delay: 0ms"
		></div>
		<div
			class="w-2 h-2 bg-secondary rounded-full animate-loader"
			style="animation-delay: 200ms"
		></div>
		<div
			class="w-2 h-2 bg-secondary rounded-full animate-loader"
			style="animation-delay: 400ms"
		></div>
	</div>
}
