package components

templ Layout() {
	<!DOCTYPE html>
	<html>
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>RG Grocery</title>
			<meta name="description" content="Simple grocery tracking app"/>
			<link href="/assets/css/openprops.min.css" rel="stylesheet"/>
			<link href="/assets/css/styles.css" rel="stylesheet"/>
			<link href="/assets/favicon.ico" rel="icon" type="image/x-icon"/>
			<script src="/assets/js/datastar.min.js" type="module"></script>
		</head>
		<body class="font-(family-name:--font-handwritten) text-xl" style="display:none" data-show="true">
			{ children... }
		</body>
	</html>
}
