@import "tailwindcss";

@plugin 'tailwind-scrollbar';


@theme {
    --color-background: #E3F2FD;
    --color-primary: oklch(70.4% 0.191 22.216);
    --color-primary-background: rgba(255, 100, 103, 0.4);
}



.animate-message {
    animation: message 0.6s var(--ease-elastic-out-5);
}

@keyframes message {
    0% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

.animate-loader-1 {
    animation: loader 2s var(--ease-spring-3) infinite;
}

.animate-loader-2 {
    animation: loader 2s var(--ease-spring-3) infinite;
    animation-delay: 0.3s;
}

.animate-loader-3 {
    animation: loader 2s var(--ease-spring-3) infinite;
    animation-delay: 0.6s;
}

@keyframes loader {
    0% {
        transform: scale(0);
        transform-origin: bottom;
    }

    100% {
        transform: scale(1);
        transform-origin: bottom;
    }
}

.animate-error-message {
    animation: error-message 2s var(--ease-spring-3);
}

@keyframes error-message {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

.animate-error-message-out {
    animation: error-message-out 0.6s var(--ease-elastic-out-5) forwards;
}

@keyframes error-message-out {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}